<!DOCTYPE html>
<html>

<head>
    <title>PT Lab</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <!-- Bootstrap -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Angular Material -->
    <link href="/scripts/angular-material-picker/dist/mdPickers.min.css" type="text/css" rel="stylesheet">
    <link href="/scripts/angular-material-data-table/dist/md-data-table.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Custom -->
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body ng-app="ptlab" smooth-scrolling>
  <div id="cont" layout="column">
     <div id="header">
       <nav class="navbar navbar-default navbar-static-top" id="nav" ng-controller="NavController as ctrl">
           <div class="container-fluid header-top">
               <div class="navbar-header">
                   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                           data-target="#navbar-pt">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                   <h3><small>Topstarters in ICT, sales & management</small></h3>
               </div>
               <div class="collapse navbar-collapse" id="navbar-pt">
                   <ul class="nav navbar-nav nav-small nav-small-combined pull-right no-margin nobullets">
                       <li class="dropdown">
                         <a class="dropdown-toggle navigatieitem" data-toggle="dropdown">Home
                         <span class="dropdown-toggle caret"></span></a>
                         <ul class="dropdown-menu">
                           <li><a du-smooth-scroll du-scrollspy duration="2000" href="/home" class="navigatieitem">Home</a></li>
                           <li><a du-smooth-scroll du-scrollspy duration="2000" href="/home#voorwie" class="navigatieitem">Voor wie</a></li>
                           <li><a du-smooth-scroll du-scrollspy duration="2000" href="/home#ruimtes" class="navigatieitem">Ruimtes</a></li>
                           <li><a du-smooth-scroll du-scrollspy duration="2000" href="/home#prijzen" class="navigatieitem">Prijzen</a></li>
                           <li><a du-smooth-scroll du-scrollspy duration="2000" href="/home#practicals" class="navigatieitem">Practicals</a></li>
                           <li><a du-smooth-scroll du-scrollspy duration="2000" href="/home#agenda" class="navigatieitem">Agenda</a></li>
                         </ul>
                       </li>
                       <!--<li><a href="/home" class="navigatieitem">Home</a></li>
                       <li><a du-smooth-scroll du-scrollspy duration="2000" href="/home#voorwie" class="navigatieitem">Voor wie</a></li>
                       <li><a du-smooth-scroll du-scrollspy duration="2000" href="/home#ruimtes" class="navigatieitem">Ruimtes</a></li>
                       <li><a du-smooth-scroll du-scrollspy duration="2000" href="/home#prijzen" class="navigatieitem">Prijzen</a></li>
                       <li><a du-smooth-scroll du-scrollspy duration="2000" href="/home#practicals" class="navigatieitem">Practicals</a></li>
                       <li><a du-smooth-scroll du-scrollspy duration="2000" href="/home#agenda" class="navigatieitem">Agenda</a></li>-->
                       <li><a href="/contact" id="closeNav">Contact</a></li>
                       <li><a ng-hide="ctrl.isLoggedIn()" href="/login">Log In</a></li>
                       <li><a ng-hide="ctrl.isLoggedIn()" href="/register">Register</a></li>
                       <li class="dropdown">
                         <a class="dropdown-toggle navigatieitem" data-toggle="dropdown" ng-show="ctrl.isLoggedIn()"> Welkom {{ctrl.currentUser()}}
                         <span class="dropdown-toggle caret"></span></a>
                         <ul class="dropdown-menu">
                           <li><a ng-show="ctrl.isLoggedIn()" href="/mijnreservaties">Mijn Reservaties</a></li>
                           <li><a ng-show="ctrl.isAdmin()" href="/settings">Settings</a></li>
                           <li><a ng-show="ctrl.isLoggedIn()" ng-click="ctrl.logOut()">Log Out</a></li>
                         </ul>
                       </li>
                   </ul>
               </div>
           </div>
       </nav>
     </div>
     <!--Container for Toast Message-->
     <div id="toast-container"></div>
     <!--Container for Toast Message Alert-->
     <div id="toast-container-alert"></div>
     <!--Body-->
     <div id="body">
       <div ui-view></div>
       <a href="#" id="scroll" scroll-to-top style="display: none;">
         <md-tooltip md-direction="left">Terug naar boven</md-tooltip><span class="glyphicon glyphicon-arrow-up"></span></a>
     </div>
    <!--Footer-->
     <div id="footer">
          <footer>
              <!--Copyright-->
              <div class="footer-copyright py-3 text-center">
                  <div class="container-fluid">
                      Copyright &copy; 2018 Planet Talent
                  </div>
              </div>
          </footer>
     </div>
  </div>
  <!-- Google Maps -->
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDPN6Y8-z-axiYzczvl5knkasvMKaGDpvU"></script>
  <!-- Angular -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.2/angular-scroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.5/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.5/angular-locale_nl-be.js"></script>
  <!-- Moment -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-range/2.1.0/moment-range.min.js"></script>
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Modules -->
  <script type="text/javascript" src="/scripts/angular-material-calendar/dist/angular-material-calendar.min.js"></script>
  <script type="text/javascript" src="/scripts/angular-material-picker/dist/mdPickers.min.js"></script>
  <script type="text/javascript" src="/scripts/angular-material-data-table/dist/md-data-table.min.js"></script>
  <!-- Angular Module -->
  <script src="/javascripts/angularApp.js"></script>
  <!-- Directives -->
  <script src="/javascripts/directives/mymap.js"></script>
  <script src="/javascripts/directives/logo-cycling.js"></script>
  <script src="/javascripts/directives/scroll-to-top.js"></script>
  <script src="/javascripts/directives/tiny-calendar.js"></script>
  <script src="/javascripts/directives/equalize-height.js"></script>
  <!-- Services -->
  <script src="/services/authService.js"></script>
  <script src="/services/reservatieService.js"></script>
  <script src="/services/ruimteService.js"></script>
  <script src="/services/eventService.js"></script>
  <script src="/services/mailService.js"></script>
  <script src="/services/websiteService.js"></script>
  <!-- Controllers -->
  <script src="/controllers/MainController.js"></script>
  <script src="/controllers/AuthController.js"></script>
  <script src="/controllers/NavController.js"></script>
  <script src="/controllers/ContactController.js"></script>
  <script src="/controllers/SettingsController.js"></script>
  <script src="/controllers/ReservatieController.js"></script>
  <script src="/controllers/CalendarController.js"></script>
  <script src="/controllers/UpdateRuimteController.js"></script>
  <!--<script src="/javascripts/xml2json.js"></script>-->
  <!--<script src="/javascripts/directives/open-sections.js"></script>-->
  <!--<script src="/javascripts/directives/scale-blocks.js"></script>-->
  <!--<script src="/javascripts/directives/smooth-scrolling.js"></script>-->
</body>

</html>
