<section id="sectionboekplaatsstudent">
        <div class="container" id="boekplaatsstudent">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="wrapper-box" layout="column" layout-padding ng-cloak>
                    <div class="row text-center">
                      <h2 class="section-heading">Boek een studieplek</h2>
                    </div>
                    <div class="row text-center">
                      <div class="alert alert-danger text-center custom-alert" ng-animate="{hide: 'animate-hide'}" ng-show="ctrl.message" role="alert">{{ctrl.message}}</div>
                    </div>
                    <form ng-submit="ctrl.boekPlaatsStudent()" name="boekPlaatsStudentForm">
                    <md-content class="md-no-momentum no-background">
                      <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs flex="50">
                          <label>Voornaam</label>
                          <input ng-model="ctrl.reservatie.user.voornaam" type="text" name="voornaam" placeholder="Voornaam *" required ng-disabled="ctrl.disabled">
                        </md-input-container>
                        <md-input-container md-no-float class="md-block" flex="50">
                          <label>Naam</label>
                          <input ng-model="ctrl.reservatie.user.naam" type="text" name="naam" placeholder="Naam *" required ng-disabled="ctrl.disabled">
                        </md-input-container>
                      </div>
                      <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                          <label>Email</label>
                          <input ng-model="ctrl.reservatie.user.username" type="email" name="username" placeholder="Email *" required ng-pattern="/^.+@.+\..+$/" ng-disabled="ctrl.disabled">
                        </md-input-container>
                      </div>
                      <div layout-gt-xs="row">
                        <mdp-date-picker mdp-placeholder="Kies een datum" ng-model="ctrl.reservatie.startdate" mdp-format="DD/MM/YYYY" mdp-min-date="ctrl.minDate" mdp-max-date="ctrl.maxDate" required name="date" mdp-date-filter="ctrl.disabledates" aria-label="Datepicker Student">
                          <md-tooltip md-direction="top">Klik op het icoon om een datum te kiezen</md-tooltip>
                          <div ng-messages="boekPlaatsStudentForm.date.$error">
                           <div ng-message="required">Datum is verplicht</div>
                           <div ng-message="format">Verkeerd formaat</div>
                           <div ng-message="minDate">Minimum datum is {{ctrl.minDate | date: " dd MMMM yyyy"}}</div>
                           <div ng-message="maxDate">Maximum datum is {{ctrl.maxDate | date: " dd MMMM yyyy"}}</div>
                          </div>
                        </mdp-date-picker>
                        <!--<md-input-container class="md-block" flex-gt-xs flex="75">
                          <md-calendar ng-model="ctrl.reservatie.startdate" md-min-date="ctrl.minDate" md-max-date="ctrl.maxDate" required name="date" md-date-filter="ctrl.weekendDisable" ng-change="ctrl.getAvailablePlaces()"></md-calendar>-->
                          <!--<input type="date" ng-model="ctrl.reservatie.startdate" min="ctrl.getTodayDate()" name="date" required></input>-->
                          <!--<div ng-messages="boekPlaatsStudentForm.date.$error" multiple>
                            <div ng-message="required">Datum is verplicht.</div>
                            <div ng-message="md-min-date">Er kan geen datum in het verleden gekozen worden.</div>
                          </div>-->
                          <!--<md-datepicker ng-model="ctrl.reservatie.startdate" md-placeholder="Kies een datum" md-min-date="ctrl.getTodayDate()" md-open-on-focus></md-datepicker>-->
                        <!--</md-input-container>-->
                        <md-input-container class="md-block" flex-gt-xs flex>
                          <label>Deel van de dag</label>
                          <md-select ng-model="ctrl.reservatie.keuzeDag" name="keuzeDag" required>
                            <md-option ng-repeat="keuzeDag in ctrl.keuzeDagen" ng-value="keuzeDag.value" selected>
                              {{keuzeDag.name}}
                            </md-option>
                          </md-select>
                          <div ng-messages="boekPlaatsStudentForm.keuzeDag.$error">
                            <div ng-message="required">Er moet een deel van de dag gekozen worden.</div>
                          </div>
                        </md-input-container>
                      </div>
                      <!--<div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs flex="33">
                          <label>Ruimtes</label>
                          <md-select ng-model="ctrl.reservatie.ruimte" name="ruimte" required>
                            <md-option ng-repeat="ruimte in ctrl.ruimtes" ng-value="ruimte">
                              {{ruimte.name}}
                            </md-option>
                          </md-select>
                          <div ng-messages="boekPlaatsStudentForm.ruimte.$error">
                            <div ng-message="required">Er moet een ruimte gekozen worden.</div>
                          </div>
                        </md-input-container>
                      </div>-->
                      </md-content>
                      <div layout="row">
                        <md-button type="submit" class="md-raised md-primary btn-submit" flex="66">Reserveer</md-button>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
</section>
