<section id="changePassword" ng-cloak>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 text-center">
            <div class="wrapper-box" layout="column" layout-padding ng-cloak>
              <div class="row">
                <h2 class="section-heading-changepassword">Wijzig wachtwoord</h2>
              </div>
              <div class="row text-center">
                <div class="alert alert-danger text-center custom-alert" ng-animate="{hide: 'animate-hide'}" ng-show="ctrl.message" role="alert">{{ctrl.message}}</div>
              </div>
              <form ng-submit="ctrl.changePassword(changePasswordForm)" name="changePasswordForm">
              <md-content class="md-no-momentum no-background">
                <div layout="row">
                  <md-button class="btn-toggle-visible" md-no-ink ng-click="ctrl.toggleShowPassword()"><md-icon>{{ ctrl.showPassword ? 'lock_open' : 'lock' }}</md-icon></md-button>
                </div>
                <md-input-container md-no-float class="md-block">
                  <input ng-model="ctrl.password" ng-attr-type="{{ ctrl.showPassword ? 'text' : 'password' }}" name="nieuwwachtwoord" placeholder="Nieuw wachtwoord" required>
                  <div ng-messages="changePasswordForm.nieuwwachtwoord.$error" md-auto-hide="false">
                    <div ng-message="required">
                      U moet een nieuw wachtwoord opgeven.
                    </div>
                  </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                  <input ng-model="ctrl.passwordcheck" ng-attr-type="{{ ctrl.showPassword ? 'text' : 'password' }}" name="checkwachtwoord" placeholder="Bevestig nieuw wachtwoord" required>
                  <div ng-messages="changePasswordForm.checkwachtwoord.$error" md-auto-hide="false">
                    <div ng-message="required">
                      Dit veld dient ingevuld te worden.
                    </div>
                    <div ng-message="passwordmatch">
                      De wachtwoorden komen niet overeen.
                    </div>
                  </div>
                </md-input-container>
                <div layout="row">
                  <md-button type="submit" class="md-raised md-primary btn-submit" flex="66">Wijzig wachtwoord</md-button>
                </div>
              </md-content>
              </form>
            </div>
      </div>
    </div>
  </div>
</section>
