<section id="contact">
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <h2 class="section-heading">Contact</h2>
          <form method="POST" class="form-horizontal">
                <p>
                  <label for="naam" class="box">Naam: </label>
                  <input type="text" name="naam" id="naam" placeholder="Naam" class="form-control" required>
                </p>
                <p>
                  <label for="email" class="box">Email: </label>
                  <input type="email" name="email" id="email" placeholder="talent@planet-talent.be" class="form-control" required>
                </p>
                <p>
                  <label for="telefoon" class="box">Telefoon:</label>
                  <input type="tel" id="telefoon" name="telefoon" class="form-control" required/>
                </p>
                <p>
                  <label for="vraag" class="box">Vraag:</label>
                  <textarea id="vraag" name="vraag" rows="5" class="form-control"></textarea>
                </p>
                <p class="text-center">
                  <button type="submit" class="btn-lg btn btn-success">Verzenden</button>
                </p>
            </form>
    </div>
</section>
