<md-dialog aria-label="Event Dialog">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Evenementen op {{ctrl.dateClicked | date:"dd/MM/yyyy"}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon aria-label="Close dialog" class="close-icon">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-list ng-hide="ctrl.isEmpty()">
        <md-list-item ng-repeat="event in ctrl.eventsday">
          <div class="md-list-item-text">
            <h4>{{event.name}}</h4>
            <h5>{{event.eventType.name}} - {{event.ruimte.name}} - {{event.startdate | date: "HH:mm"}}</h5>
            <p>{{event.description}}</p>
          </div>
        </md-list-item>
      </md-list>
      <div ng-show="ctrl.isEmpty()" class="div-empty">
        <h5>Er zijn geen evenementen gepland op deze dag.<h5>
      </div>
    </md-dialog-content>

    <!--<md-dialog-actions layout="row">
    Hier kunnen allemaal buttons staan voor acties uit te voeren.
    </md-dialog-actions>-->

</md-dialog>
