<section id="forgotpassword" ng-cloak>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 text-center">
        <div class="wrapper-box" layout="column" layout-padding ng-cloak>
          <div class="row">
            <h3 class="section-heading-changepassword">Wachtwoord vergeten</h3>
          </div>
          <div class="row text-center">
            <div class="alert alert-danger text-center custom-alert" ng-animate="{hide: 'animate-hide'}" ng-show="ctrl.message" role="alert">{{ctrl.message}}</div>
            <md-progress-circular md-mode="indeterminate" md-diameter="19" ng-show="ctrl.isLoading" class="progress-circular"></md-progress-circular>
          </div>
          <form ng-submit="ctrl.forgot(forgotForm)" name="forgotForm" novalidate>
            <md-content class="md-no-momentum no-background left-align">
              <md-input-container md-no-float class="md-block" layout="row">
                <md-icon>mail</md-icon>
                <input ng-model="ctrl.user.username" type="email" name="username" placeholder="E-mail" required ng-pattern="/^.+@.+\..+$/">
                <div ng-messages="forgotForm.username.$error" multiple md-auto-hide="false">
                  <div ng-message="required">
                    Gelieve een e-mailadres in te vullen.
                  </div>
                  <div ng-message="pattern">
                    Geen geldig email adres.
                  </div>
                </div>
              </md-input-container>
              <div layout="row">
                <md-button type="submit" class="md-raised md-primary btn-submit" flex="66">Verzend</md-button>
              </div>
            </md-content>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
