<!-- Home -->
<section id="home" ng-cloak>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                  <img logo-cycling
                    src="{{ image.source }}"
                    title="{{ image.title }}"
                    class="image block-center"
                    width="304" height="150"
                    alt="Logo Planet Talent Lab"
                  />
                  <p>
                    {{ctrl.home}}
                  </p>
                </div>
            </div>
        </div>
</section>
<!-- Voor Wie -->
<section id="voorwie" background-image="{{ctrl.voorwie.imagevoorwie}}" ng-cloak>
        <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                <h2 class="section-heading section-heading-voorwie">Voor wie ?</h2>
              </div>
            </div>
            <div class="col-sm-12 row block-center">
              <div class="text-center block-voorwie">
                <div class="text-center block-voorwie-row">
                  <div class="block-voorwie-column block-title">Trainers/Managers</div>
                  <div class="block-voorwie-column-spacing"></div>
                  <div class="block-voorwie-column block-title">Co-workers</div>
                  <div class="block-voorwie-column-spacing"></div>
                  <div class="block-voorwie-column block-title">Studenten</div>
                </div>
                <div class="text-center block-voorwie-row">
                  <div id="trainerblock" class="block-voorwie-column block-text">
                    {{ctrl.voorwie.manager}}
                  </div>
                  <div class="block-voorwie-column-spacing"></div>
                  <div id="coworkingblock" class="block-voorwie-column block-text">
                    {{ctrl.voorwie.coworker}}
                  </div>
                  <div class="block-voorwie-column-spacing"></div>
                  <div id="studentenblock" class="block-voorwie-column block-text">
                    {{ctrl.voorwie.student}}
                  </div>
                </div>
                <div class="text-center block-voorwie-row">
                  <a ng-href="/vraagofferteaan" class="block-voorwie-column btn btn-primary btn-block" ng-disabled="ctrl.userManager">Vraag een offerte aan</a>
                  <div class="block-voorwie-column-spacing"></div>
                  <a ng-href="/gratisplaats" class="block-voorwie-column btn btn-primary btn-block" ng-disabled="ctrl.userCoworker">Probeer gratis/Reserveer</a>
                  <div class="block-voorwie-column-spacing"></div>
                  <a ng-href="/boekplaatsstudent" class="block-voorwie-column btn btn-primary btn-block" ng-disabled="ctrl.userStudent">Boek je gratis plaats</a>
                </div>
              </div>
            </div>
        </div>
</section>
<!-- Ruimtes -->
<section id="ruimtes" ng-cloak>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h2 class="section-heading">Ruimtes</h2>
                </div>
            </div>
        </div>
        <md-content class="md-padding no-background" layout-fill layout="column">
          <div flex="50" layout="row" layout-wrap class="cards">
            <div ng-repeat="ruimte in ctrl.ruimtes" class="ruimte-card">
              <md-card>
                <img ng-src="{{ruimte.imagelink}}" class="md-card-image" alt="Vergaderzaal">
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{ruimte.name}}</span>
                  </md-card-title-text>
                  <md-icon class="custom-button" ng-class="ruimte.show ? 'marker-up' : 'marker-down'" ng-click="ctrl.toggleShow(ruimte)" slideToggle>keyboard_arrow_down</md-icon>
                </md-card-title>
                <md-card-content ng-show="ruimte.show" class="animate-content" ng-cloak>
                  <ul class="card-list">
                    <li>Aantal plaatsen: {{ruimte.aantalPlaatsen}}</li>
                    <li>Aantal elektriciteitsaansluitingen: {{ruimte.elektriciteitsaansluitingen}}</li>
                  </ul>
                  <p>
                    {{ruimte.beschrijving}}
                  </p>
                </md-card-content>
              </md-card>
            </div>
          </div>
        </md-content>
</section>
<!-- Prijzen -->
<section class="bg-black" id="prijzen">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                  <h2 class="section-heading">Prijzen</h2>
              </div>
          </div>
          <!-- Visible on mobile -->
          <ui-carousel slides="ctrl.ruimtes" slides-to-show="2" slides-to-scroll="1" initial-slide="1" autoplay="false" autoplay-speed="2000" dots="false" class="display-carousel">
            <carousel-item>
              <div class="row block-center">
                <div class="text-center block-prices">
                  <div class="text-center block-voorwie-row">
                    <div class="block-price-column block-title-prices">{{item.name}}</div>
                  </div>
                  <div class="text-center block-voorwie-row">
                    <div class="block-price-column bg-yellow block-price">
                      <div class="prices-price">€ {{item.price}}<div ng-show="item.priceperperson > 0" class="prices-small"> + € {{item.priceperperson}} p.p.</div></div> Per halve dag
                    </div>
                  </div>
                  <div class="block-voorwie-row">
                    <div class="block-price-column block-prices-practicals">
                      <div class="prices-practicals-table">
                        <div class="prices-practicals-row">
                          <div class="prices-practicals-icon"><md-icon style="{{item.internetavailable ? 'color:#15B366;' : 'color:#A40D4E;'}}">{{item.internetavailable ? 'done' : 'clear'}}</md-icon></div>
                          <div class="prices-practicals-text">Internet</div>
                        </div>
                        <div class="prices-practicals-row">
                          <div class="prices-practicals-icon"><md-icon style="{{item.coffeewateravailable ? 'color:#15B366;' : 'color:#A40D4E;'}}">{{item.coffeewateravailable ? 'done' : 'clear'}}</md-icon></div>
                          <div class="prices-practicals-text">Koffie en water</div>
                        </div>
                        <div class="prices-practicals-row">
                          <div class="prices-practicals-icon"><md-icon style="{{item.printeravailable ? 'color:#15B366;' : 'color:#A40D4E;'}}">{{item.printeravailable ? 'done' : 'clear'}}</md-icon></div>
                          <div class="prices-practicals-text">Printer</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </carousel-item>
          </ui-carousel>
          <!-- Visible on desktop and large screens -->
          <div class="row block-center" ng-cloak>
            <div class="text-center block-prices display-block-prices">
              <div class="text-center block-voorwie-row">
                <div class="block-price-column block-title-prices" ng-repeat="ruimte in ctrl.ruimtes">{{ruimte.name}}</div>
              </div>
              <div class="text-center block-voorwie-row">
                <div class="block-price-column bg-yellow block-price" ng-repeat="ruimte in ctrl.ruimtes">
                  <div class="prices-price">€ {{ruimte.price}}<div ng-show="ruimte.priceperperson > 0" class="prices-small"> + € {{ruimte.priceperperson}} p.p.</div></div> Per halve dag
                </div>
              </div>
              <div class="block-voorwie-row">
                <div class="block-price-column block-prices-practicals" ng-repeat="ruimte in ctrl.ruimtes">
                  <div class="prices-practicals-table">
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="{{ruimte.internetavailable ? 'color:#15B366;' : 'color:#A40D4E;'}}">{{ruimte.internetavailable ? 'done' : 'clear'}}</md-icon></div>
                      <div class="prices-practicals-text">Internet</div>
                    </div>
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="{{ruimte.coffeewateravailable ? 'color:#15B366;' : 'color:#A40D4E;'}}">{{ruimte.coffeewateravailable ? 'done' : 'clear'}}</md-icon></div>
                      <div class="prices-practicals-text">Koffie en water</div>
                    </div>
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="{{ruimte.printeravailable ? 'color:#15B366;' : 'color:#A40D4E;'}}">{{ruimte.printeravailable ? 'done' : 'clear'}}</md-icon></div>
                      <div class="prices-practicals-text">Printer</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
</section>
<!--Praktische Zaken-->
<section id="practicals" ng-cloak>
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                  <h2 class="section-heading">Practicals</h2>
                  <p>
                    {{ctrl.practicals.content}}
                  </p>
              </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h3 class="section-heading">Voorzieningen</h3>
              <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="service-box">
                  <i class="fa fa-4x fa-globe"></i>
                  <h4>Internet</h4>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="service-box">
                  <i class="fa fa-4x fa-print"></i>
                  <h4>Printer</h4>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="service-box">
                  <i class="fa fa-4x fa-coffee"></i>
                  <h4>Koffie/water bar</h4>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="service-box">
                  <i class="fa fa-4x fa-cutlery"></i>
                  <h4>Catering</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h3 class="section-heading">Openingsuren</h3>
              <table class="table table-hover text-center col-md-12 col-sm-12 col-xs-12">
                <tr ng-repeat="dag in ctrl.practicals.openingsuren">
                  <td class="col-md-6 col-sm-6 col-xs-6 right-align">{{dag.day}}</td>
                  <td class="col-md-6 col-sm-6 col-xs-6 left-align">{{ctrl.getUurString(dag.openingsuur)}} tot {{ctrl.getUurString(dag.sluitingsuur)}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h3 class="section-heading">Adres</h3>
              <p>
                {{ctrl.practicals.adres.naam}} <br/>
                {{ctrl.practicals.adres.straat}} {{ctrl.practicals.adres.nummer}} <br/>
                {{ctrl.practicals.adres.postcode}} {{ctrl.practicals.adres.stad}} <br/>
                <i class="fa fa-1x fa-phone"></i> {{ctrl.practicals.adres.telefoon}}
              </p>
            </div>
          </div>
      </div>
</section>
<div my-map=""></div>
<!--Agenda-->
<section id="agenda" ng-cloak>
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                  <h2 class="section-heading section-heading-agenda">Evenementen Kalender</h2>
              </div>
          </div>
      </div>
</section>
<div layout-gt-xs="row" ng-cloak>
  <div flex="60" class="eventcalendar">
    <multiple-date-picker calendar-id="'eventcalendar'" day-click="dayClick" week-days-off="[0, 6]" ng-model="ctrl.dateClicked" disallow-back-past-months="true" highlight-days="ctrl.highlightDays"></multiple-date-picker>
  </div>
  <div flex="40">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <span class="kalender-date">{{ctrl.selectedDate | date: 'EEEE d MMMM yyyy'}}</span>
      </div>
    </md-toolbar>
    <md-content ng-show="ctrl.eventsday.length > 0">
      <md-list class="scrollable">
        <md-list-item ng-repeat="event in ctrl.eventsday" ng-click="ctrl.openDialog(event)">
          <div class="md-list-item-text" layout="column">
            <h5>{{event.name}}</h5>
            <p>{{event.ruimte.name}} - {{event.startdate | date: "HH:mm"}} tot {{ctrl.getEndTime(event) | date: "HH:mm"}}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
    <div ng-show="ctrl.eventsday.length === 0">
      <p class="geenEvents">Er vinden geen evenementen plaats op deze dag.<p>
    </div>
  </div>
</div>
