<!-- Home -->
<section id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                  <img logo-cycling src="images/Logo_PTLab-03.jpg" alt="Logo Planet Talent Lab" class="center-block" width="304" height="150" id="logo">
                  <p>
                    {{ctrl.home}}
                  </p>
                </div>
            </div>
        </div>
</section>
<!-- Voor Wie -->
<section class="bg-yellow" id="voorwie">
        <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                <h2 class="section-heading section-heading-voorwie">Voor wie ?</h2>
              </div>
            </div>
            <div class="col-sm-12 row block-center">
              <div class="text-center block-voorwie">
                <div class="text-center block-voorwie-row">
                  <div class="block-voorwie-column block-title">Trainers/Managers</div>
                  <div class="block-voorwie-column-spacing"></div>
                  <div class="block-voorwie-column block-title">Co-workers</div>
                  <div class="block-voorwie-column-spacing"></div>
                  <div class="block-voorwie-column block-title">Studenten</div>
                </div>
                <div class="text-center block-voorwie-row">
                  <div id="trainerblock" class="block-voorwie-column block-text">
                    {{ctrl.voorwie.manager}}
                  </div>
                  <div class="block-voorwie-column-spacing"></div>
                  <div id="coworkingblock" class="block-voorwie-column block-text">
                    {{ctrl.voorwie.coworker}}
                  </div>
                  <div class="block-voorwie-column-spacing"></div>
                  <div id="studentenblock" class="block-voorwie-column block-text">
                    {{ctrl.voorwie.student}}
                  </div>
                </div>
                <div class="text-center block-voorwie-row">
                  <a href="/vraagofferteaan" class="block-voorwie-column btn btn-primary btn-block">Vraag een offerte aan</a>
                  <div class="block-voorwie-column-spacing"></div>
                  <a href="/gratisplaats" class="block-voorwie-column btn btn-primary btn-block">Probeer gratis/Reserveer</a>
                  <div class="block-voorwie-column-spacing"></div>
                  <a href="/boekplaatsstudent" class="block-voorwie-column btn btn-primary btn-block">Boek je gratis plaats</a>
                </div>
              </div>
              <!--<table>
                <tr>
                  <th><div class="block-title">Trainers/Managers</div></th>
                  <th><div class="block-title">Co-workers</div></th>
                  <th><div class="block-title">Studenten</div></th>
                </tr>
                <tr>
                  <td>
                    <div id="trainerblock" class="block-text">
                      {{ctrl.voorwie.manager}}
                    </div>
                  </td>
                  <td>
                    <div id="coworkingblock" class="block-text">
                      {{ctrl.voorwie.coworker}}
                    </div>
                  </td>
                  <td>
                    <div id="studentenblock" class="block-text">
                      {{ctrl.voorwie.student}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/vraagofferteaan" class="btn btn-primary btn-block">Vraag een offerte aan</a>
                  </td>
                  <td>
                    <a href="/gratisplaats" class="btn btn-primary btn-block">Probeer gratis/Reserveer</a>
                  </td>
                  <td>
                    <a href="/boekplaatsstudent" class="btn btn-primary btn-block">Boek je gratis plaats</a>
                  </td>
                </tr>
              </table>-->
            </div>
        </div>
</section>
<!-- Ruimtes -->
<section id="ruimtes">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h2 class="section-heading">Ruimtes</h2>
                  <!--  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra sem sit amet massa venenatis, nec accumsan mauris venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer libero augue, imperdiet non nunc congue, sollicitudin vestibulum erat. Nunc at orci nulla. Pellentesque scelerisque lectus non ante congue, non tincidunt eros malesuada. Nulla facilisi. Sed lorem ante, convallis at massa in, luctus semper nunc. Mauris vehicula odio nulla, tempus ullamcorper turpis aliquam sit amet.

                    Aliquam efficitur tempus ipsum, sit amet vestibulum arcu hendrerit a. Donec sem sem, convallis in urna ut, cursus iaculis tortor. Vivamus at mauris quis arcu venenatis vulputate. Ut dignissim, risus in convallis aliquam, augue nibh dignissim dolor, nec mollis diam leo eget nulla. Vestibulum eget eros efficitur, viverra massa nec, aliquet odio. Morbi a leo egestas, finibus nisi ac, commodo mauris. Nulla rhoncus in lorem eget commodo. Suspendisse pretium leo fringilla elit porttitor aliquet.

                    Pellentesque varius eros quis nisi ullamcorper, vel sagittis urna sodales. Etiam ante tortor, euismod vel ante nec, dapibus volutpat odio. Aenean erat lacus, cursus id feugiat in, pharetra a eros. Pellentesque vitae erat sit amet ligula blandit posuere id at dui. Maecenas faucibus nisi at justo rhoncus gravida. Sed a semper nisl. Maecenas sagittis eu elit a vehicula. Aenean dui lectus, vestibulum quis nunc nec, dignissim semper lorem. Fusce bibendum, dui vitae semper varius, nisl massa tincidunt orci, maximus interdum orci ex et dolor. Donec sed mi id ante finibus sollicitudin. Ut sed est fringilla, laoreet nisl ut, mollis tellus. In arcu odio, semper non consectetur nec, mattis vel risus. Aenean varius massa magna, a varius enim dictum quis. Phasellus eget ex eu erat tincidunt pulvinar.
                    </p>
                    <div>
                      <div class="col-md-6 col-sm-6 col-xs-6 text-center roomblock">
                        <div class="clickable-block" open-sections id="coworkinglabtitle">
                          <md-tooltip md-direction="top">Klik op mij voor meer info</md-tooltip>
                          <div class="block-title">Co-working Lab</div>
                          <div class="block-image image-coworking">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 text-center roomblock">
                        <div class="clickable-block" open-sections id="meetingroomtitle">
                          <md-tooltip md-direction="top">Klik op mij voor meer info</md-tooltip>
                          <div class="block-title">Meeting Room</div>
                          <div class="block-image image-meeting">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 text-center roomblock">
                        <div class="clickable-block" open-sections id="trainingroomtitle">
                          <md-tooltip md-direction="top">Klik op mij voor meer info</md-tooltip>
                          <div class="block-title">Training Room</div>
                          <div class="block-image image-training">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 text-center roomblock">
                        <div class="clickable-block" open-sections id="boardroomtitle">
                          <md-tooltip md-direction="top">Klik op mij voor meer info</md-tooltip>
                          <div class="block-title">Board Room</div>
                          <div class="block-image image-board">
                          </div>
                        </div>
                      </div>
                    </div>-->
                </div>
            </div>
        </div>
        <md-content class="md-padding no-background" layout-fill layout="column">
          <div flex="50" layout="row" layout-wrap class="cards">
            <div ng-repeat="ruimte in ctrl.ruimtes" class="ruimte-card">
              <md-card>
                <img ng-src="{{ruimte.img}}" class="md-card-image" alt="Vergaderzaal">
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{ruimte.name}}</span>
                  </md-card-title-text>
                  <md-icon class="custom-button animate-button" ng-click="ctrl.toggleShow(ruimte)" slideToggle>keyboard_arrow_down</md-icon>
                </md-card-title>
                <md-card-content ng-show="ruimte.show" class="animate-content">
                  <ul class="card-list">
                    <li>Aantal plaatsen: {{ruimte.aantalPlaatsen}}</li>
                  </ul>
                  <p>
                    {{ruimte.beschrijving}}
                  </p>
                </md-card-content>
              </md-card>
            </div>
          </div>
        </md-content>
</section>
<!--
<section class="bg-red openSections" id="sectionCoworking">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h3>
          Co-working Lab
        </h3>
        <ul class="nobullets col-md-12 col-sm-12 col-xs-12">
          <li>10 personen</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="bg-red openSections" id="sectionMeetingRoom">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h3>
          Meeting Room
        </h3>
        <ul class="nobullets col-md-12 col-sm-12 col-xs-12">
          <li>15 personen</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="bg-red openSections" id="sectionTrainingRoom">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h3>
          Training Room
        </h3>
        <ul class="nobullets col-md-12 col-sm-12 col-xs-12">
          <li>50 personen</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="bg-red openSections" id="sectionBoardRoom">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h3>
          Board Room
        </h3>
        <ul class="nobullets col-md-12 col-sm-12 col-xs-12">
          <li>30 personen</li>
        </ul>
      </div>
    </div>
  </div>
</section>
-->

<!-- Prijzen -->
<section class="bg-black" id="prijzen">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                  <h2 class="section-heading">Prijzen</h2>
              </div>
          </div>

          <!-- Visible on mobile -->
          <ui-carousel slides="ctrl.ruimtes" slides-to-show="2" slides-to-scroll="1" initial-slide="1" autoplay="false" autoplay-speed="2000" dots="false" class="display-carousel">
            <carousel-item>
              <div class="row block-center">
                <div class="text-center block-prices">
                  <div class="text-center block-voorwie-row">
                    <div class="block-price-column block-title-prices">{{item.name}}</div>
                  </div>
                  <div class="text-center block-voorwie-row">
                    <div class="block-price-column bg-yellow block-price">
                      <div class="prices-price">€ {{item.price}}<div ng-show="item.priceperperson > 0" class="prices-small"> + € {{item.priceperperson}} p.p.</div></div> Per halve dag
                    </div>
                  </div>
                  <div class="block-voorwie-row">
                    <div class="block-price-column block-prices-practicals">
                      <div class="prices-practicals-table">
                        <div class="prices-practicals-row">
                          <div class="prices-practicals-icon"><md-icon style="{{item.services[0].available ? 'color:#15B366;' : 'color:#A40D4E;'}}">{{item.services[0].available ? 'done' : 'clear'}}</md-icon></div>
                          <div class="prices-practicals-text">{{item.services[0].name}}</div>
                        </div>
                        <div class="prices-practicals-row">
                          <div class="prices-practicals-icon"><md-icon style="{{item.services[1].available ? 'color:#15B366;' : 'color:#A40D4E;'}}">{{item.services[1].available ? 'done' : 'clear'}}</md-icon></div>
                          <div class="prices-practicals-text">{{item.services[1].name}}</div>
                        </div>
                        <div class="prices-practicals-row">
                          <div class="prices-practicals-icon"><md-icon style="{{item.services[2].available ? 'color:#15B366;' : 'color:#A40D4E;'}}">{{item.services[2].available ? 'done' : 'clear'}}</md-icon></div>
                          <div class="prices-practicals-text">{{item.services[2].name}}</div>
                        </div>
                        <div class="prices-practicals-row">
                          <div class="prices-practicals-icon"><md-icon style="{{item.services[3].available ? 'color:#15B366;' : 'color:#A40D4E;'}}">{{item.services[3].available ? 'done' : 'clear'}}</md-icon></div>
                          <div class="prices-practicals-text">{{item.services[3].name}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </carousel-item>
          </ui-carousel>

          <!-- Visible on desktop and large screens -->
          <div class="row block-center">
            <div class="text-center block-prices display-block-prices">
              <div class="text-center block-voorwie-row">
                <div class="block-price-column block-title-prices" ng-repeat="ruimte in ctrl.ruimtes">{{ruimte.name}}</div>
                <!--<div class="block-voorwie-column-spacing"></div>-->
                <!--<div class="block-price-column block-title-prices">{{ctrl.prijzen.meetingroom.name}}</div>
                <div class="block-voorwie-column-spacing"></div>
                <div class="block-price-column block-title-prices">{{ctrl.prijzen.trainingroom.name}}</div>
                <div class="block-voorwie-column-spacing"></div>
                <div class="block-price-column block-title-prices">{{ctrl.prijzen.boardroom.name}}</div>-->
              </div>
              <div class="text-center block-voorwie-row">
                <div class="block-price-column bg-yellow block-price" ng-repeat="ruimte in ctrl.ruimtes">
                  <div class="prices-price">€ {{ruimte.price}}<div ng-show="ruimte.priceperperson > 0" class="prices-small"> + € {{ruimte.priceperperson}} p.p.</div></div> Per halve dag
                </div>
                <!--<div class="block-voorwie-column-spacing"></div>
                <div class="block-price-column bg-yellow block-price">
                  <div class="prices-price">€ {{ctrl.prijzen.meetingroom.price}}<div ng-show="ctrl.prijzen.meetingroom.priceperperson > 0" class="prices-small"> + € {{ctrl.prijzen.meetingroom.priceperperson}} p.p.</div></div> Per halve dag
                </div>
                <div class="block-voorwie-column-spacing"></div>
                <div class="block-price-column bg-yellow block-price">
                  <div class="prices-price">€ {{ctrl.prijzen.trainingroom.price}}<div ng-show="ctrl.prijzen.trainingroom.priceperperson > 0" class="prices-small"> + € {{ctrl.prijzen.trainingroom.priceperperson}} p.p.</div></div> Per halve dag
                </div>
                <div class="block-voorwie-column-spacing"></div>
                <div class="block-price-column bg-yellow block-price">
                  <div class="prices-price">€ {{ctrl.prijzen.boardroom.price}}<div ng-show="ctrl.prijzen.boardroom.priceperperson > 0" class="prices-small"> + € {{ctrl.prijzen.boardroom.priceperperson}} p.p.</div></div> Per halve dag
                </div>-->
              </div>
              <div class="block-voorwie-row">
                <div class="block-price-column block-prices-practicals" ng-repeat="ruimte in ctrl.ruimtes">
                  <div class="prices-practicals-table">
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="{{ruimte.internetavailable ? 'color:#15B366;' : 'color:#A40D4E;'}}">{{ruimte.internetavailable ? 'done' : 'clear'}}</md-icon></div>
                      <div class="prices-practicals-text">Internet</div>
                    </div>
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="{{ruimte.coffeewateravailable ? 'color:#15B366;' : 'color:#A40D4E;'}}">{{ruimte.coffeewateravailable ? 'done' : 'clear'}}</md-icon></div>
                      <div class="prices-practicals-text">Koffie en water</div>
                    </div>
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="{{ruimte.printeravailable ? 'color:#15B366;' : 'color:#A40D4E;'}}">{{ruimte.printeravailable ? 'done' : 'clear'}}</md-icon></div>
                      <div class="prices-practicals-text">Printer</div>
                    </div>
                    <!--<div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="color: #A40D4E;">clear</md-icon></div>
                      <div class="prices-practicals-text">Catering</div>
                    </div>-->
                  </div>
                </div>
                <!--<div class="block-voorwie-column-spacing"></div>
                <div class="block-price-column block-prices-practicals">
                  <div class="prices-practicals-table">
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="color: #15B366;">done</md-icon></div>
                      <div class="prices-practicals-text">Internet</div>
                    </div>
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="color: #15B366;">done</md-icon></div>
                      <div class="prices-practicals-text">Koffie en water</div>
                    </div>
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="color: #A40D4E;">clear</md-icon></div>
                      <div class="prices-practicals-text">Printer</div>
                    </div>
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="color: #A40D4E;">clear</md-icon></div>
                      <div class="prices-practicals-text">Catering</div>
                    </div>
                  </div>
                </div>
                <div class="block-voorwie-column-spacing"></div>
                <div class="block-price-column block-prices-practicals">
                  <div class="prices-practicals-table">
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="color: #15B366;">done</md-icon></div>
                      <div class="prices-practicals-text">Internet</div>
                    </div>
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="color: #15B366;">done</md-icon></div>
                      <div class="prices-practicals-text">Koffie en water</div>
                    </div>
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="color: #15B366;">done</md-icon></div>
                      <div class="prices-practicals-text">Printer</div>
                    </div>
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="color: #A40D4E;">clear</md-icon></div>
                      <div class="prices-practicals-text">Catering</div>
                    </div>
                  </div>
                </div>
                <div class="block-voorwie-column-spacing"></div>
                <div class="block-price-column block-prices-practicals">
                  <div class="prices-practicals-table">
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="color: #15B366;">done</md-icon></div>
                      <div class="prices-practicals-text">Internet</div>
                    </div>
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="color: #15B366;">done</md-icon></div>
                      <div class="prices-practicals-text">Koffie en water</div>
                    </div>
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="color: #15B366;">done</md-icon></div>
                      <div class="prices-practicals-text">Printer</div>
                    </div>
                    <div class="prices-practicals-row">
                      <div class="prices-practicals-icon"><md-icon style="color: #A40D4E;">clear</md-icon></div>
                      <div class="prices-practicals-text">Catering</div>
                    </div>
                  </div>
                </div>-->
              </div>
            </div>
          </div>
      </div>
</section>
<!--Praktische Zaken-->
<section id="practicals">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                  <h2 class="section-heading">Practicals</h2>
                  <p>
                    {{ctrl.practicals.content}}
                  </p>
              </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h3 class="section-heading">Voorzieningen</h3>
              <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="service-box">
                  <i class="fa fa-4x fa-globe"></i>
                  <h4>Internet</h4>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="service-box">
                  <i class="fa fa-4x fa-print"></i>
                  <h4>Printer</h4>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="service-box">
                  <i class="fa fa-4x fa-coffee"></i>
                  <h4>Koffie/water bar</h4>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="service-box">
                  <i class="fa fa-4x fa-cutlery"></i>
                  <h4>Catering</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h3 class="section-heading">Openingsuren</h3>
              <table class="table table-hover text-center col-md-12 col-sm-12 col-xs-12">
                <tr ng-repeat="dag in ctrl.practicals.openingsuren">
                  <td class="col-md-6 col-sm-6 col-xs-6 right-align">{{dag.naam}}</td>
                  <td class="col-md-6 col-sm-6 col-xs-6 left-align">{{dag.openingsuur.uur}}u{{dag.openingsuur.minuut}} tot {{dag.sluitingsuur.uur}}u{{dag.sluitingsuur.minuut}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h3 class="section-heading">Adres</h3>
              <p>
                {{ctrl.practicals.adres.naam}} <br/>
                {{ctrl.practicals.adres.straat}} {{ctrl.practicals.adres.nummer}} <br/>
                {{ctrl.practicals.adres.postcode}} {{ctrl.practicals.adres.stad}} <br/>
                <i class="fa fa-1x fa-phone"></i> {{ctrl.practicals.adres.telefoon}}
              </p>
            </div>
          </div>
      </div>
</section>
<div my-map=""></div>
<!--<div id="map">

</div>-->
<!--Agenda-->
<section id="agenda">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                  <h2 class="section-heading section-heading-agenda">Agenda</h2>
              </div>
          </div>
      </div>
</section>
<!--<div tiny-calendar first-day="1" today="Vandaag" week-days="ZMDWDVZ" events="ctrl.testEvents"></div>-->
<div layout-gt-xs="row">
  <calendar-md flex="60" layout layout-fill
  calendar-direction="vertical"
  on-prev-month="prevMonth"
  on-next-month="nextMonth"
  on-day-click="dayClick"
  title-format="'MMMM y'"
  ng-model='selectedDate'
  week-starts-on="1"
  tooltips="false"
  day-format="dayFormat"
  day-label-format="'EEE'"
  day-label-tooltip-format="'EEEE'"
  day-tooltip-format="'fullDate'"
  day-content="setDayContent"
  disable-future-selection="false"></calendar-md>
  <div flex="40">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <span class="calendar-md-title">{{ctrl.dateClicked | date: 'EEEE d MMMM'}}</span>
      </div>
    </md-toolbar>
    <md-content ng-show="ctrl.eventsday.length > 0">
      <md-list>
        <md-list-item ng-repeat="event in ctrl.eventsday" ng-click="ctrl.openDialog(event)">
          <div class="md-list-item-text" layout="column">
            <h5>{{event.name}}</h5>
            <p>{{event.ruimte.name}} - {{event.startdate | date: "HH:mm"}} tot {{ctrl.getEndTime(event) | date: "HH:mm"}}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
    <div ng-show="ctrl.eventsday.length === 0">
      <p class="geenEvents">Er vinden geen evenementen plaats op deze dag.<p>
    </div>
  </div>
</div>
