<section id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                  <img src="images/Logo_PTLab-03.jpg" alt="Logo Planet Talent Lab Groen" class="center-block" width="304" height="150" id="logo">
                  <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra sem sit amet massa venenatis, nec accumsan mauris venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer libero augue, imperdiet non nunc congue, sollicitudin vestibulum erat. Nunc at orci nulla. Pellentesque scelerisque lectus non ante congue, non tincidunt eros malesuada. Nulla facilisi. Sed lorem ante, convallis at massa in, luctus semper nunc. Mauris vehicula odio nulla, tempus ullamcorper turpis aliquam sit amet.

                  Aliquam efficitur tempus ipsum, sit amet vestibulum arcu hendrerit a. Donec sem sem, convallis in urna ut, cursus iaculis tortor. Vivamus at mauris quis arcu venenatis vulputate. Ut dignissim, risus in convallis aliquam, augue nibh dignissim dolor, nec mollis diam leo eget nulla. Vestibulum eget eros efficitur, viverra massa nec, aliquet odio. Morbi a leo egestas, finibus nisi ac, commodo mauris. Nulla rhoncus in lorem eget commodo. Suspendisse pretium leo fringilla elit porttitor aliquet.

                  Pellentesque varius eros quis nisi ullamcorper, vel sagittis urna sodales. Etiam ante tortor, euismod vel ante nec, dapibus volutpat odio. Aenean erat lacus, cursus id feugiat in, pharetra a eros. Pellentesque vitae erat sit amet ligula blandit posuere id at dui. Maecenas faucibus nisi at justo rhoncus gravida. Sed a semper nisl. Maecenas sagittis eu elit a vehicula. Aenean dui lectus, vestibulum quis nunc nec, dignissim semper lorem. Fusce bibendum, dui vitae semper varius, nisl massa tincidunt orci, maximus interdum orci ex et dolor. Donec sed mi id ante finibus sollicitudin. Ut sed est fringilla, laoreet nisl ut, mollis tellus. In arcu odio, semper non consectetur nec, mattis vel risus. Aenean varius massa magna, a varius enim dictum quis. Phasellus eget ex eu erat tincidunt pulvinar.
                  </p>
                </div>
            </div>
        </div>
</section>

<!--Voor wie--><!--
<section id="voorwie">
<div ng-cloak>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h2 class="section-heading section-heading-voorwie">Voor wie ?</h2>
    </div>
  </div>
</div>
<md-content id="voorwie-tabs">
  <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always" md-swipe-content md->
    <md-tab label="Trainers en managers">
            <md-content>
              <div class="container">
                <div class="row">
                  <div id="trainerblock" class="col-md-10 col-md-offset-1 text-center">
                    <h2 class="section-heading">Trainers en Managers</h2>
                    <div>
                      Er kan een van de 4 ruimtes gereserveerd worden voor uw evenement.
                      U kan dan ook kiezen of u bij dit evenement catering wil.
                    </div>
                    <a href="#vraagofferteaan" class="btn btn-primary btn-reserveer col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">Vraag een offerte aan</a>
                  </div>
                </div>
              </div>
            </md-content>
    </md-tab>
    <md-tab label="Co-workers">
            <md-content>
              <div class="container">
                <div class="row">
                  <div class="col-md-10 col-md-offset-1 text-center">
                    <h2 class="section-heading">Co-workers</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                    <div id="coworkingblock">
                      U kan één keer gratis onze faciliteiten testen wanneer u aan co-working doet.
                      Hierdoor kan u wanneer u thuis werkt, prive en werk gescheiden houden.
                    </div>
                    <a href="#gratisplaats" class="btn btn-primary btn-reserveer col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">Probeer gratis</a>
                  </div>
                </div>
              </div>
            </md-content>
    </md-tab>
    <md-tab label="Studenten">
            <md-content>
              <div class="container">
                <div class="row">
                  <div class="col-md-10 col-md-offset-1 text-center">
                    <h2 class="section-heading">Studenten</h2>
                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    <div id="studentenblock">
                      Tijdens de blok kan jij hier terecht om te studeren in een mooie omgeving.
                    </div>
                    <a href="#boekplaatsstudent" class="btn btn-primary btn-reserveer col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">Boek je gratis plaats</a>
                  </div>
                </div>
              </div>
            </md-content>
    </md-tab>
  </md-tabs>
</md-content>
</div>
</section>-->
<section class="bg-yellow" id="voorwie">
        <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                <h2 class="section-heading section-heading-voorwie">Voor wie ?</h2>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                  <div class="block-title">Trainers/Managers</div>
                  <div id="trainerblock" class="block-text">
                    Er kan een van de 4 ruimtes gereserveerd worden voor uw evenement.
                    U kan dan ook kiezen of u bij dit evenement catering wil.
                  </div>
                  <a href="#vraagofferteaan" class="btn btn-primary btn-block">Vraag een offerte aan</a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                  <div class="block-title">Co-workers</div>
                  <div id="coworkingblock" class="block-text">
                    U kan één keer gratis onze faciliteiten testen wanneer u aan co-working doet.
                    Hierdoor kan u wanneer u thuis werkt, prive en werk gescheiden houden.
                  </div>
                  <a href="#gratisplaats" class="btn btn-primary btn-block">Probeer gratis</a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                  <div class="block-title">Studenten</div>
                  <div id="studentenblock" class="block-text">
                    Tijdens de blok kan jij hier terecht om te studeren in een mooie omgeving.
                  </div>
                  <a href="#boekplaatsstudent" class="btn btn-primary btn-block">Boek je gratis plaats</a>
                </div>
              </div>
            </div>
        </div>
</section>
<!--Ruimtes-->
<section id="ruimtes">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h2 class="section-heading">Ruimtes</h2>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra sem sit amet massa venenatis, nec accumsan mauris venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer libero augue, imperdiet non nunc congue, sollicitudin vestibulum erat. Nunc at orci nulla. Pellentesque scelerisque lectus non ante congue, non tincidunt eros malesuada. Nulla facilisi. Sed lorem ante, convallis at massa in, luctus semper nunc. Mauris vehicula odio nulla, tempus ullamcorper turpis aliquam sit amet.

                    Aliquam efficitur tempus ipsum, sit amet vestibulum arcu hendrerit a. Donec sem sem, convallis in urna ut, cursus iaculis tortor. Vivamus at mauris quis arcu venenatis vulputate. Ut dignissim, risus in convallis aliquam, augue nibh dignissim dolor, nec mollis diam leo eget nulla. Vestibulum eget eros efficitur, viverra massa nec, aliquet odio. Morbi a leo egestas, finibus nisi ac, commodo mauris. Nulla rhoncus in lorem eget commodo. Suspendisse pretium leo fringilla elit porttitor aliquet.

                    Pellentesque varius eros quis nisi ullamcorper, vel sagittis urna sodales. Etiam ante tortor, euismod vel ante nec, dapibus volutpat odio. Aenean erat lacus, cursus id feugiat in, pharetra a eros. Pellentesque vitae erat sit amet ligula blandit posuere id at dui. Maecenas faucibus nisi at justo rhoncus gravida. Sed a semper nisl. Maecenas sagittis eu elit a vehicula. Aenean dui lectus, vestibulum quis nunc nec, dignissim semper lorem. Fusce bibendum, dui vitae semper varius, nisl massa tincidunt orci, maximus interdum orci ex et dolor. Donec sed mi id ante finibus sollicitudin. Ut sed est fringilla, laoreet nisl ut, mollis tellus. In arcu odio, semper non consectetur nec, mattis vel risus. Aenean varius massa magna, a varius enim dictum quis. Phasellus eget ex eu erat tincidunt pulvinar.
                    </p>

                    <div>
                      <div class="col-md-6 col-sm-6 col-xs-6 text-center roomblock">
                        <div class="clickable-block" id="coworkinglabtitle">
                          <div class="block-title">Co-working Lab</div>
                          <div class="block-image">
                            <!--<img src="images/vergaderzaal1_test.jpg" alt="Vergaderzaal 1" align="middle" id="vergaderzaal1test"/>-->
                          </div>
                        </div>
                        <button class="btn-primary btn-block" id="btnCoworking">Reserveer</button>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 text-center roomblock">
                        <div class="clickable-block" id="meetingroomtitle">
                          <div class="block-title">Meeting Room</div>
                          <div class="block-image">

                          </div>
                        </div>
                        <button class="btn-primary btn-block" id="btnMeetingRoom">Reserveer</button>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 text-center roomblock">
                        <div class="clickable-block" id="trainingroomtitle">
                          <div class="block-title">Training Room</div>
                          <div class="block-image">

                          </div>
                        </div>
                        <button class="btn-primary btn-block" id="btnTrainingRoom">Reserveer</button>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 text-center roomblock">
                        <div class="clickable-block" id="boardroomtitle">
                          <div class="block-title">Board Room</div>
                          <div class="block-image">

                          </div>
                        </div>
                        <button class="btn-primary btn-block" id="btnBoardRoom">Reserveer</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="bg-red" id="sectionCoworking">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h3>
          Co-working Lab
        </h3>
        <ul class="nobullets col-md-12 col-sm-12 col-xs-12">
          <li>10 personen</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="bg-red" id="sectionMeetingRoom">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h3>
          Meeting Room
        </h3>
        <ul class="nobullets col-md-12 col-sm-12 col-xs-12">
          <li>15 personen</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="bg-red" id="sectionTrainingRoom">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h3>
          Training Room
        </h3>
        <ul class="nobullets col-md-12 col-sm-12 col-xs-12">
          <li>50 personen</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="bg-red" id="sectionBoardRoom">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h3>
          Board Room
        </h3>
        <ul class="nobullets col-md-12 col-sm-12 col-xs-12">
          <li>30 personen</li>
        </ul>
      </div>
    </div>
  </div>
</section>


<!--Prijzen-->
<section class="bg-yellow" id="prijzen">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                  <h2 class="section-heading">Prijzen</h2>
                  <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra sem sit amet massa venenatis, nec accumsan mauris venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer libero augue, imperdiet non nunc congue, sollicitudin vestibulum erat. Nunc at orci nulla. Pellentesque scelerisque lectus non ante congue, non tincidunt eros malesuada. Nulla facilisi. Sed lorem ante, convallis at massa in, luctus semper nunc. Mauris vehicula odio nulla, tempus ullamcorper turpis aliquam sit amet.

                  Aliquam efficitur tempus ipsum, sit amet vestibulum arcu hendrerit a. Donec sem sem, convallis in urna ut, cursus iaculis tortor. Vivamus at mauris quis arcu venenatis vulputate. Ut dignissim, risus in convallis aliquam, augue nibh dignissim dolor, nec mollis diam leo eget nulla. Vestibulum eget eros efficitur, viverra massa nec, aliquet odio. Morbi a leo egestas, finibus nisi ac, commodo mauris. Nulla rhoncus in lorem eget commodo. Suspendisse pretium leo fringilla elit porttitor aliquet.

                  Pellentesque varius eros quis nisi ullamcorper, vel sagittis urna sodales. Etiam ante tortor, euismod vel ante nec, dapibus volutpat odio. Aenean erat lacus, cursus id feugiat in, pharetra a eros. Pellentesque vitae erat sit amet ligula blandit posuere id at dui. Maecenas faucibus nisi at justo rhoncus gravida. Sed a semper nisl. Maecenas sagittis eu elit a vehicula. Aenean dui lectus, vestibulum quis nunc nec, dignissim semper lorem. Fusce bibendum, dui vitae semper varius, nisl massa tincidunt orci, maximus interdum orci ex et dolor. Donec sed mi id ante finibus sollicitudin. Ut sed est fringilla, laoreet nisl ut, mollis tellus. In arcu odio, semper non consectetur nec, mattis vel risus. Aenean varius massa magna, a varius enim dictum quis. Phasellus eget ex eu erat tincidunt pulvinar.
                  </p>
              </div>
          </div>
      </div>
</section>
<!--Praktische Zaken-->
<section id="practicals">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                  <h2 class="section-heading">Practicals</h2>
                  <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra sem sit amet massa venenatis, nec accumsan mauris venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer libero augue, imperdiet non nunc congue, sollicitudin vestibulum erat. Nunc at orci nulla. Pellentesque scelerisque lectus non ante congue, non tincidunt eros malesuada. Nulla facilisi. Sed lorem ante, convallis at massa in, luctus semper nunc. Mauris vehicula odio nulla, tempus ullamcorper turpis aliquam sit amet.
                  </p>
              </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h3 class="section-heading">Voorzieningen</h3>
              <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="service-box">
                  <i class="fa fa-4x fa-globe"></i>
                  <h4>Internet</h4>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="service-box">
                  <i class="fa fa-4x fa-print"></i>
                  <h4>Printer</h4>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="service-box">
                  <i class="fa fa-4x fa-coffee"></i>
                  <h4>Koffie/water bar</h4>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <div class="service-box">
                  <i class="fa fa-4x fa-cutlery"></i>
                  <h4>Catering</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h3 class="section-heading">Openingsuren</h3>
              <table class="table table-hover text-center">
                <tr ng-repeat="dag in ctrl.openingsuren">
                  <td class="col-md-6 col-sm-6 col-xs-6 right-align">{{dag.naam}}</td>
                  <td class="col-md-6 col-sm-6 col-xs-6 left-align">{{dag.openingsuur.uur}}u{{dag.openingsuur.minuut}} tot {{dag.sluitingsuur.uur}}u{{dag.sluitingsuur.minuut}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h3 class="section-heading">Adres</h3>
              <p>
                Planet Talent <br/>
                Frank van Dyckelaan 7b <br/>
                9140 Temse <br/>
                <i class="fa fa-1x fa-phone"></i> +32 3 226 48 28
              </p>
            </div>
          </div>
      </div>
</section>
<div id="map"></div>
<!--Agenda-->
<section class="bg-yellow" id="agenda">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                  <h2 class="section-heading">Agenda</h2>
                  <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra sem sit amet massa venenatis, nec accumsan mauris venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer libero augue, imperdiet non nunc congue, sollicitudin vestibulum erat. Nunc at orci nulla. Pellentesque scelerisque lectus non ante congue, non tincidunt eros malesuada. Nulla facilisi. Sed lorem ante, convallis at massa in, luctus semper nunc. Mauris vehicula odio nulla, tempus ullamcorper turpis aliquam sit amet
                  </p>
                  <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
              </div>
          </div>
      </div>
</section>
