<section id="mijnreservaties">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                  <h2 class="section-heading">Mijn Reservaties</h2>
                </div>
                <div class="col-md-10 col-md-offset-1">
                  <table class="table table-hover total-width-table">
                    <thead>
                      <tr>
                        <th>
                          Datum
                        </th>
                        <th> <!-- Voormiddag, namiddag of volledige dag-->
                        </th>
                        <th>
                          Ruimte
                        </th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="reservatie in ctrl.toekomstigeReservaties | orderBy:'startdate'">
                        <td>{{reservatie.startdate | date:'dd MMMM yyyy'}}</td>
                        <td ng-switch="reservatie.keuzeDag">
                          <div ng-switch-when="voormiddag">Voormiddag</div>
                          <div ng-switch-when="namiddag">Namiddag</div>
                          <div ng-switch-when="volledigedag">Volledige dag</div>
                        </td>
                        <td>{{reservatie.ruimte.name}}</td>
                        <td><button type="button" class="btn btn-warning" ng-click="ctrl.deleteReservatie(reservatie)">Annuleer Reservatie</button></td>
                      </tr>
                    </tbody>
                  </table>

                  <div ng-show="ctrl.toekomstigeReservaties.length <= 0" class="nomijnreservaties text-center">
                    U hebt geen geplande reservaties.
                  </div>
                </div>
            </div>
        </div>
</section>
