<section id="register" ng-cloak>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center">
            <div class="wrapper-box" layout="column" layout-padding ng-cloak>
              <div class="row">
                <h2 class="section-heading">Registreer</h2>
              </div>
              <div class="row text-center">
                <div class="alert alert-danger text-center custom-alert" ng-animate="{hide: 'animate-hide'}" ng-show="ctrl.message" role="alert">{{ctrl.message}}</div>
              </div>
              <form ng-submit="ctrl.register(registerForm)" name="registerForm">
              <md-content class="md-no-momentum no-background">
                <div layout-gt-xs="row">
                  <md-input-container md-no-float class="md-block" flex="50">
                    <md-icon>person</md-icon>
                    <input ng-model="ctrl.user.voornaam" type="text" name="voornaam" placeholder="Voornaam *" required>
                    <div ng-messages="registerForm.voornaam.$error">
                      <div ng-message="required">Gelieve een voornaam op te geven.</div>
                    </div>
                  </md-input-container>
                  <md-input-container md-no-float class="md-block" flex="50">
                    <input ng-model="ctrl.user.naam" type="text" name="naam" placeholder="Naam *" required>
                    <div ng-messages="registerForm.naam.$error">
                      <div ng-message="required">Gelieve een familienaam op te geven.</div>
                    </div>
                  </md-input-container>
                </div>
                <md-input-container md-no-float class="md-block" layout="row">
                  <md-icon>email</md-icon>
                  <input ng-model="ctrl.user.username" type="email" name="username" placeholder="Email *" required ng-pattern="/^.+@.+\..+$/">
                  <div ng-messages="registerForm.username.$error" multiple md-auto-hide="false">
                    <div ng-message="required">
                      Gelieve een e-mailadres op te geven.
                    </div>
                    <div ng-message="pattern">
                      Geen geldig e-mailadres.
                    </div>
                    <div ng-message="exists">
                      Er bestaat al een gebruiker met dit e-mailadres.
                    </div>
                  </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                  <md-icon>phone</md-icon>
                  <input ng-model="ctrl.user.telefoonnummer" type="tel" name="telefoonnummer" placeholder="Telefoonnummer *" required>
                  <div ng-messages="registerForm.telefoonnummer.$error">
                    <div ng-message="required">Gelieve een telefoonnummer op te geven.</div>
                  </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                  <md-icon>lock</md-icon>
                  <input ng-model="ctrl.user.password" type="password" name="wachtwoord" placeholder="Wachtwoord *" required>
                  <div ng-messages="registerForm.wachtwoord.$error" md-auto-hide="false">
                    <div ng-message="required">
                      Gelieve een wachtwoord op te geven.
                    </div>
                  </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block" layout="row">
                  <md-select ng-model="ctrl.user.typeUser" placeholder="Selecteer een type gebruiker" name="typeUser" required aria-label="selectTypeUser">
                    <md-option ng-repeat="type in ctrl.typesUser" ng-value="type">
                      {{type}}
                    </md-option>
                  </md-select>
                  <div ng-messages="registerForm.typeUser.$error">
                    <div ng-message="required">
                      Gelieve een type te kiezen.
                    </div>
                  </div>
                </md-input-container>
                <div layout="row" ng-show="ctrl.user.typeUser == 'MANAGER' || ctrl.user.typeUser == 'COWORKER'">
                  <md-input-container md-no-float class="md-block" flex>
                    <md-icon>business</md-icon>
                    <input ng-model="ctrl.user.bedrijfsnaam" type="text" name="bedrijfsnaam" placeholder="Naam bedrijf *">
                  </md-input-container>
                </div>

                <div layout="row">
                  <md-button type="submit" class="md-raised md-primary btn-submit" flex="66">Registreer</md-button>
                </div>
              </md-content>
              </form>
            </div>
      </div>
    </div>
  </div>
</section>
