<section id="register">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 text-center">
            <div class="contactwrapper" layout="column" layout-padding ng-cloak>
              <div class="row">
                <h2 class="section-heading">Registreer</h2>
              </div>
              <div class="row text-center">
                <div class="alert alert-danger text-center custom-alert" ng-animate="{hide: 'animate-hide'}" ng-show="ctrl.message" role="alert">{{ctrl.message}}</div>
              </div>
              <form ng-submit="ctrl.register(registerForm)" name="registerForm">
              <md-content class="md-no-momentum no-background">
                <div layout="row">
                  <md-input-container md-no-float class="md-block" flex="50">
                    <md-icon>person</md-icon>
                    <input ng-model="ctrl.user.voornaam" type="text" name="voornaam" placeholder="Voornaam *" required>
                    <div ng-messages="registerForm.voornaam.$error">
                      <div ng-message="required"><md-icon class="error">error_outline</md-icon>&nbsp;Voornaam is verplicht.</div>
                    </div>
                  </md-input-container>
                  <md-input-container md-no-float class="md-block" flex="50">
                    <input ng-model="ctrl.user.naam" type="text" name="naam" placeholder="Naam *" required>
                    <div ng-messages="registerForm.naam.$error">
                      <div ng-message="required"><md-icon class="error">error_outline</md-icon>&nbsp;Naam is verplicht.</div>
                    </div>
                  </md-input-container>
                </div>
                <md-input-container md-no-float class="md-block" layout="row">
                  <md-icon>email</md-icon>
                  <input ng-model="ctrl.user.username" type="email" name="username" placeholder="Email *" required ng-pattern="/^.+@.+\..+$/">
                  <div ng-messages="registerForm.username.$error" multiple md-auto-hide="false">
                    <div ng-message="required">
                      <md-icon class="error">error_outline</md-icon>&nbsp;Email is Verplicht.
                    </div>
                    <div ng-message="pattern">
                      <md-icon class="error">error_outline</md-icon>&nbsp;Geen geldig email adres.
                    </div>
                    <div ng-message="exists">
                      <md-icon class="error">error_outline</md-icon>&nbsp;Er bestaat al een gebruiker met dit email adres.
                    </div>
                  </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                  <md-icon>lock</md-icon>
                  <input ng-model="ctrl.user.password" type="password" name="wachtwoord" placeholder="Wachtwoord *" required>
                  <div ng-messages="registerForm.wachtwoord.$error" md-auto-hide="false">
                    <div ng-message="required">
                      <md-icon class="error">error_outline</md-icon>&nbsp;Waschtwoord is verplicht.
                    </div>
                  </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                  <md-select ng-model="ctrl.user.typeUser" name="typeUser" required aria-label="selectTypeUser">
                    <md-option ng-repeat="type in ctrl.typesUser" ng-value="type">
                      {{type}}
                    </md-option>
                  </md-select>
                  <div ng-messages="registerForm.typeUser.$error">
                    <md-icon class="error">error_outline</md-icon>&nbsp;<div ng-message="required">Er moet een type gekozen worden.</div>
                  </div>
                </md-input-container>
                <div layout="row">
                  <md-button type="submit" class="md-raised md-primary btnSubmitContact" flex="66">Registreer</md-button>
                </div>
              </md-content>
              </form>
            </div>
      </div>
    </div>
  </div>
</section>
