<div class="text-center">
  <h2 class="section-heading">Instellingen</h2>
</div>
  <md-content class="no-background" ng-cloak>
    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always" md-no-ink>
      <md-tab label="ruimtes">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h3>
              <span class="section-heading">Alle ruimtes</span>
            </h3>
          </div>
        </md-toolbar>
        <md-content class="md-padding no-background tab-settings">
          <!--Ruimtes -->
            <!--<div class="row text-center">
              <h3 class="section-heading">Ruimtes</h3>
            </div>-->
            <div class="row">
                <div class="text-center table-responsive-md">
                  <!--<h4 class="section-heading">Bekijken</h4>-->
                <md-content layout="column" flex class="no-background">
                  <md-table-container>
                    <table class="table-hover" md-table md-row-select="ctrl.options.rowSelection" multiple="{{ctrl.options.multiSelect}}" ng-model="ctrl.selected" md-progress="ctrl.promise">
                      <thead ng-if="!ctrl.options.decapitate" md-head md-order="ctrl.query.orderruimte">
                        <tr md-row>
                          <th md-column md-order-by="name"><span>Naam</span></th>
                          <th md-column md-order-by="aantalPlaatsen"><span>Aantal beschikbare plaatsen</span></th>
                          <th md-column></th>
                        </tr>
                      </thead>
                      <tbody md-body>
                        <tr md-row md-select="ruimte" md-on-select="name" md-auto-select="ctrl.options.autoSelect" ng-repeat="ruimte in ctrl.ruimtes | orderBy: ctrl.query.orderruimte | limitTo: ctrl.query.limit : (ctrl.query.page -1) * ctrl.query.limit">
                          <td md-cell>{{ruimte.name}}</td>
                          <td md-cell>{{ruimte.aantalPlaatsen}}</td>
                          <td md-cell><div class="custom-button" ng-click="ctrl.updateRuimte(ruimte)"><md-icon>build</md-icon></div></td>
                        </tr>
                      </tbody>
                    </table>
                  </md-table-container>
                </md-content>
                  <!--<table class="table table-hover table-settings">
                    <thead>
                      <tr>
                        <th>
                          Naam
                        </th>
                        <th>
                          Maximum aantal personen
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="ruimte in ctrl.ruimtes">
                        <td>{{ruimte.name}}</td>
                        <td>{{ruimte.aantalPlaatsen}}</td>
                      </tr>
                    </tbody>
                  </table>-->
                </div>
            </div>
          </md-content>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h3>
                <span class="section-heading">Ruimte aanmaken</span>
              </h3>
            </div>
          </md-toolbar>
          <md-content class="md-padding no-background tab-settings">
            <!--<div class="row text-center">
              <h4 class="section-heading">Aanmaken</h4>
            </div>-->
            <form ng-submit="ctrl.createRuimte()" name="createRuimteForm">
            <md-content class="md-no-momentum no-background">
              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs flex="50">
                  <label>Naam</label>
                  <input ng-model="ctrl.ruimte.name" type="text" name="name" placeholder="Naam *" required>
                  <div ng-messages="createRuimteForm.name.$error">
                    <div ng-message="required">Gelieve een naam in te vullen.</div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs flex="50">
                  <label>Maximum aantal beschikbare plaatsen</label>
                  <input ng-model="ctrl.ruimte.aantalPlaatsen" type="number" name="aantalplaatsen" placeholder="Maximum aantal beschikbare plaatsen *" required>
                  <div ng-messages="createRuimteForm.aantalplaatsen.$error">
                    <div ng-message="required">Gelieve een maximum aantal in te vullen.</div>
                  </div>
                </md-input-container>
               </div>
               <div layout-gt-xs="row">
                 <md-input-container class="md-block" flex-gt-xs>
                   <label>Beschrijving</label>
                   <textarea ng-model="ctrl.ruimte.beschrijving" type="text" name="description" required rows="5" placeholder="Beschrijving *"></textarea>
                   <div ng-messages="createRuimteForm.description.$error">
                     <div ng-message="required">Gelieve een beschrijving in te vullen.</div>
                   </div>
                 </md-input-container>
               </div>
               <div layout-gt-xs="row">
                 <md-input-container class="md-block" flex-gt-xs flex="33.33">
                   <label>Prijs</label>
                   <input ng-model="ctrl.ruimte.price" type="number" name="price" min="0" step="any" required>
                   <div ng-messages="createRuimteForm.price.$error" multiple>
                     <div ng-message="required">Gelieve een prijs in te vullen.</div>
                     <div ng-message="min">Het minimum bedrag is € 0.</div>
                   </div>
                 </md-input-container>
                 <md-input-container class="md-block" flex-gt-xs flex="33.33">
                   <label>Prijs per persoon</label>
                   <input ng-model="ctrl.ruimte.priceperperson" type="number" name="priceperperson" min="0" step="any" required>
                   <div ng-messages="createRuimteForm.priceperperson.$error" multiple md-auto-hide="false">
                     <div ng-message="required">Gelieve een prijs per persoon in te vullen.</div>
                     <div ng-message="min">Het minimum bedrag is € 0.</div>
                   </div>
                 </md-input-container>
                 <md-input-container class="md-block" flex-gt-xs flex="33.33">
                   <label>Elektriciteitsaansluitingen</label>
                   <input ng-model="ctrl.ruimte.elektriciteitsaansluitingen" type="number" name="elektriciteitsaansluitingen" required>
                   <div ng-messages="updateRuimteForm.elektriciteitsaansluitingen.$error" multiple>
                     <div ng-message="required">Gelieve een aantal in te voeren.</div>
                   </div>
                 </md-input-container>
               </div>
               <div layout-gt-xs="row">
                 <md-input-container class="md-block" flex-gt-xs flex="33.33">
                   <md-checkbox ng-model="ctrl.ruimte.internetavailable" name="checkboxInternet" aria-label="Checkbox Internet" md-no-ink>
                       Internet
                   </md-checkbox>
                 </md-input-container>
                 <md-input-container class="md-block" flex-gt-xs flex="33.33">
                   <md-checkbox ng-model="ctrl.ruimte.coffeewateravailable" name="checkboxCoffeeWater" aria-label="Checkbox Coffee and Water" md-no-ink>
                       Koffie en water
                   </md-checkbox>
                 </md-input-container>
                 <md-input-container class="md-block" flex-gt-xs flex="33.33">
                   <md-checkbox ng-model="ctrl.ruimte.printeravailable" name="checkboxPrinter" aria-label="Checkbox Printer" md-no-ink>
                       Printer
                   </md-checkbox>
                 </md-input-container>
               </div>
               <div layout-gt-xs="row">
                 <md-input-container class="md-block" flex-gt-xs>
                   <label>Afbeelding</label>
                   <input ng-model="ctrl.ruimte.imagelink" type="text" name="imagelink" required>
                   <div ng-messages="updateRuimteForm.imagelink.$error">
                     <div ng-message="required">Er moet een link naar een afbeelding opgegeven worden.</div>
                   </div>
                 </md-input-container>
               </div>
              </md-content>
              <div layout="row">
                <md-button type="submit" class="md-raised md-primary btn-submit" flex="66">Maak ruimte</md-button>
              </div>
            </form>
          <!-- EINDE Ruimtes -->
        </md-content>
      </md-tab>
      <md-tab label="evenementen">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h3>
              <span class="section-heading">Evenementen bekijken</span>
            </h3>
          </div>
        </md-toolbar>
        <md-content class="md-padding no-background tab-settings">
          <!-- EVENTS -->
            <!--<div class="row text-center">
              <h3 class="section-heading">Evenementen</h3>
            </div>-->
            <div class="row">
                <div class="text-center table-responsive-md">
                  <!--<h4 class="section-heading">Bekijken</h4>-->
                  <md-content layout="column" flex class="no-background">

                  <md-toolbar class="md-table-toolbar alternate" ng-show="ctrl.options.rowSelection && ctrl.selected.length">
                    <div class="md-toolbar-tools">
                      <span>{{ctrl.selected.length}} {{ctrl.selected.length > 1 ? 'items' : 'item'}} aangevinkt</span>
                    </div>
                  </md-toolbar>
                  <md-table-container>
                    <md-input-container md-no-float class="md-block input-margin">
                      <md-icon class="icon-grey">search</md-icon>
                      <input type="text" ng-model="ctrl.filter.searchevent" placeholder="Zoek"/>
                    </md-input-container>
                    <table class="table-hover" md-table md-row-select="ctrl.options.rowSelection" multiple="{{ctrl.options.multiSelect}}" ng-model="ctrl.selected" md-progress="ctrl.promise">
                      <thead ng-if="!ctrl.options.decapitate" md-head md-order="ctrl.query.orderevents">
                        <tr md-row>
                          <th md-column md-order-by="name">
                            <span>Naam</span>
                          </th>
                          <th md-column md-order-by="startdate" md-desc>
                            <span>Datum</span>
                          </th>
                          <th md-column>
                            <span>Tijd</span>
                          </th>
                          <th md-column md-order-by="eventType.name">
                            <span>Type</span>
                          </th>
                          <th md-column>
                            <span>Catering</span>
                          </th>
                          <th md-column>
                            <span>Publiek</span>
                          </th>
                          <th md-column md-order-by="ruimte.name">
                            <span>Ruimte</span>
                          </th>
                          <th md-column></th>
                        </tr>
                      </thead>
                      <tbody md-body>
                        <tr md-row md-select="event" md-on-select="name" md-auto-select="ctrl.options.autoSelect" ng-repeat="event in ctrl.events | filter: ctrl.filter.searchevent | orderBy: ctrl.query.orderevents | limitTo: ctrl.query.limitEvents : (ctrl.query.pageEvents -1) * ctrl.query.limitEvents">
                          <td md-cell>{{event.name}}</td>
                          <td md-cell>{{event.startdate | date:'dd MMMM yyyy'}}</td>
                          <td md-cell>{{event.startdate | date:'HH:mm'}} - {{ctrl.getEndTime(event) | date:'HH:mm'}}</td>
                          <td md-cell>{{event.eventType.name}}</td>
                          <td md-cell>{{event.catering ? 'Ja' : 'Nee'}}</td>
                          <td md-cell>{{event.publiek ? 'Ja' : 'Nee'}}</td>
                          <td md-cell>{{event.ruimte.name}}</td>
                          <td md-cell><div type="button" class="custom-button btn-delete" ng-click="ctrl.deleteEvent(event)"><md-icon>delete</md-icon></div></td>
                        </tr>
                      </tbody>
                    </table>
                  </md-table-container>
                  <md-table-pagination
                    md-limit="ctrl.query.limitEvents"
                    md-limit-options="ctrl.limitOptionsEvents"
                    md-page="ctrl.query.pageEvents"
                    md-total="{{ctrl.events.length}}"
                    md-page-select="true"
                    md-label="{page: 'Pagina:', rowsPerPage: 'Rijen per pagina:', of: 'van'}"
                    md-boundary-links="ctrl.options.boundaryLinks">
                  </md-table-pagination>
                </md-content>
                  <!--<table class="table table-hover table-settings">
                    <thead>
                      <tr>
                        <th>
                          Naam
                        </th>
                        <th>
                          Datum
                        </th>
                        <th>
                          Tijd
                        </th>
                        <th>
                          Type
                        </th>
                        <th>
                          Catering
                        </th>
                        <th>
                          Publiek
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="event in ctrl.events | orderBy:'startdate'">
                        <td>{{event.name}}</td>
                        <td>{{event.startdate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{event.startdate | date: 'HH:mm'}} tot {{ctrl.getEndTime(event) | date: 'HH:mm'}}</td>
                        <td>{{event.eventType.name}}</td>
                        <td>{{event.catering ? 'Ja' : 'Nee'}}</td>
                        <td>{{event.publiek ? 'Ja' : 'Nee'}}</td>
                      </tr>
                    </tbody>
                  </table>-->
                </div>
            </div>
          </md-content>

          <md-toolbar>
            <div class="md-toolbar-tools">
              <h3>
                <span class="section-heading">Evenementen zoeken op dag</span>
              </h3>
            </div>
          </md-toolbar>
          <md-content class="md-padding no-background tab-settings">
              <div class="row">
                  <div class="text-center table-responsive-md">
                    <md-content layout="column" flex class="no-background">

                    <md-input-container md-no-float class="md-block input-margin">
                      <mdp-date-picker mdp-placeholder="Kies een datum" ng-model="ctrl.dayEvents" mdp-format="DD/MM/YYYY" name="date" ng-change="ctrl.getEventsByDay()" aria-label="Datepicker Events by day">
                        <md-tooltip md-direction="bottom">Klik op het icoon om een datum te kiezen</md-tooltip>
                      </mdp-date-picker>
                    </md-input-container>
                    <md-toolbar class="md-table-toolbar alternate" ng-show="ctrl.options.rowSelection && ctrl.selected.length">
                      <div class="md-toolbar-tools">
                        <span>{{ctrl.selected.length}} {{ctrl.selected.length > 1 ? 'items' : 'item'}} aangevinkt</span>
                      </div>
                    </md-toolbar>
                    <md-table-container ng-show="ctrl.eventsday.length > 0">
                      <table class="table-hover" md-table md-row-select="ctrl.options.rowSelection" multiple="{{ctrl.options.multiSelect}}" ng-model="ctrl.selected" md-progress="ctrl.promise">
                        <thead ng-if="!ctrl.options.decapitate" md-head md-order="ctrl.query.ordereventsday">
                          <tr md-row>
                            <th md-column md-order-by="name">
                              <span>Naam</span>
                            </th>
                            <th md-column md-order-by="startdate" md-desc>
                              <span>Datum</span>
                            </th>
                            <th md-column>
                              <span>Tijd</span>
                            </th>
                            <th md-column md-order-by="eventType.name">
                              <span>Type</span>
                            </th>
                            <th md-column>
                              <span>Catering</span>
                            </th>
                            <th md-column>
                              <span>Publiek</span>
                            </th>
                            <th md-column md-order-by="ruimte.name">
                              <span>Ruimte</span>
                            </th>
                            <th md-column></th>
                          </tr>
                        </thead>
                        <tbody md-body>
                          <tr md-row md-select="event" md-on-select="name" md-auto-select="ctrl.options.autoSelect" ng-repeat="event in ctrl.eventsday | filter: ctrl.filter.searcheventday | orderBy: ctrl.query.ordereventsday">
                            <td md-cell>{{event.name}}</td>
                            <td md-cell>{{event.startdate | date:'dd MMMM yyyy'}}</td>
                            <td md-cell>{{event.startdate | date:'HH:mm'}} - {{ctrl.getEndTime(event) | date:"HH:mm"}}</td>
                            <td md-cell>{{event.eventType.name}}</td>
                            <td md-cell>{{event.catering ? 'Ja' : 'Nee'}}</td>
                            <td md-cell>{{event.publiek ? 'Ja' : 'Nee'}}</td>
                            <td md-cell>{{event.ruimte.name}}</td>
                            <td md-cell><div type="button" class="custom-button btn-delete" ng-click="ctrl.deleteEvent(event)"><md-icon>delete</md-icon></div></td>
                          </tr>
                        </tbody>
                      </table>
                    </md-table-container>
                    <!-- Show this when there are no reservations on the chosen date -->
                    <div ng-show="ctrl.eventsday.length <= 0" class="noreservations">
                      Er zijn geen evenementen op de gekozen dag.
                    </div>
                  </md-content>
                  </div>
              </div>
          </md-content>

          <md-toolbar>
            <div class="md-toolbar-tools text-center">
              <h3>
                <span class="section-heading">Evenement aanmaken</span>
              </h3>
            </div>
          </md-toolbar>
          <div class="row text-center">
            <div class="alert alert-danger text-center custom-alert" ng-animate="{hide: 'animate-hide'}" ng-show="ctrl.message" role="alert">{{ctrl.message}}</div>
          </div>
          <md-content class="md-padding no-background tab-settings">
            <!--<div class="row text-center">
              <h4 class="section-heading">Aanmaken</h4>
            </div>-->
            <form ng-submit="ctrl.createEvent()" name="createEventForm">
              <md-content class="md-no-momentum no-background">
                <div layout-gt-xs="row">
                  <md-input-container class="md-block" flex-gt-xs>
                    <label>Naam</label>
                    <input ng-model="ctrl.event.name" type="text" name="name" placeholder="Naam *" required md-no-asterisk>
                    <div ng-messages="createEventForm.name.$error">
                      <div ng-message="required">Gelieve een naam in te vullen.</div>
                    </div>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-xs flex="25">
                    <label>Type event</label>
                    <md-select ng-model="ctrl.event.eventType" name="eventType" required md-no-asterisk>
                      <md-option ng-repeat="eventType in ctrl.eventTypes" ng-value="eventType">
                        {{eventType.name}}
                      </md-option>
                    </md-select>
                    <div ng-messages="createEventForm.eventType.$error">
                      <div ng-message="required">Gelieve een type te kiezen.</div>
                    </div>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-xs flex="25">
                    <label>Factuurnummer</label>
                    <input ng-model="ctrl.event.factuurnummer" type="text" name="factuurnummer" placeholder="Factuurnummer *" required md-no-asterisk>
                    <div ng-messages="createEventForm.factuurnummer.$error">
                      <div ng-message="required">Gelieve een factuurnummer in te vullen.</div>
                    </div>
                  </md-input-container>
                 </div>
                 <div layout-gt-xs="row">
                   <mdp-date-picker mdp-placeholder="Kies een datum" ng-model="ctrl.event.startdate" mdp-format="DD/MM/YYYY" required name="date" mdp-date-filter="ctrl.disabledates" aria-label="Datepicker Event" mdp-min-date="ctrl.todayDate">
                     <div ng-messages="createEventForm.date.$error">
                      <div ng-message="required">Gelieve een datum te selecteren.</div>
                      <div ng-message="format">Verkeerd formaat</div>
                      <div ng-message="minDate">Minimum datum is {{ctrl.minDate | date: " dd MMMM yyyy"}}</div>
                      <div ng-message="maxDate">Maximum datum is {{ctrl.maxDate | date: " dd MMMM yyyy"}}</div>
                     </div>
                   </mdp-date-picker>
                   <mdp-time-picker ng-model="ctrl.starttime" required name="starttime" mdp-auto-switch="true" aria-label="Timepicker Event">
                   </mdp-time-picker>
                   <div class="time-tot">
                     tot
                   </div>
                   <mdp-time-picker ng-model="ctrl.endtime" required name="endtime" mdp-auto-switch="true" aria-label="Timepicker Event"></mdp-time-picker>

                   <md-input-container class="md-block" flex-gt-xs flex>
                     <label>Manager</label>
                     <md-select ng-model="ctrl.event.user" name="user" required md-no-asterisk>
                       <md-option ng-repeat="user in ctrl.users" ng-value="user">
                         {{user.fullName}} - {{user.username}}
                       </md-option>
                     </md-select>
                     <div ng-messages="createEventForm.user.$error">
                       <div ng-message="required">Gelieve een manager te kiezen.</div>
                     </div>
                   </md-input-container>

                   <!--
                   <md-input-container class="md-block" flex-gt-xs>
                     <label>Aantal minuten</label>
                     <input ng-model="ctrl.event.duur" type="number" name="aantalminuten" placeholder="Aantal minuten *" required min="30" max="300"></input>
                     <div ng-messages="createEventForm.aantalminuten.$error" multiple>
                       <div ng-message="required">Aantal minuten is verplicht.</div>
                       <div ng-message="min">Het minimum aantal minuten is 30 minuten.</div>
                       <div ng-message="max">Het maximum aantal minuten is 5 uur (300 minuten).</div>
                     </div>
                   </md-input-container>

                   <md-input-container class="md-block" flex-gt-xs flex="25">
                     <label>Deel van de dag</label>
                     <md-select ng-model="ctrl.event.keuzeDag" name="keuzeDag" required>
                       <md-option ng-repeat="keuzeDag in ctrl.keuzeDagen" ng-value="keuzeDag.value" selected>
                         {{keuzeDag.name}}
                       </md-option>
                     </md-select>
                     <div ng-messages="createEventForm.keuzeDag.$error">
                       <div ng-message="required"><md-icon class="error">error_outline</md-icon>&nbsp;Er moet een deel van de dag gekozen worden.</div>
                     </div>
                   </md-input-container>
                   -->
                 </div>
                 <div layout-gt-xs="row">
                   <md-input-container class="md-block" flex-gt-xs>
                     <label>Beschrijving</label>
                     <textarea ng-model="ctrl.event.description" type="text" name="description" placeholder="Beschrijving *" required rows="5" md-no-asterisk></textarea>
                     <div ng-messages="createEventForm.description.$error">
                       <div ng-message="required">Gelieve een beschrijving in te vullen.</div>
                     </div>
                   </md-input-container>
                 </div>
                 <div layout-gt-xs="row">
                   <md-input-container class="md-block" flex-gt-xs flex>
                     <label>Ruimtes</label>
                     <md-select ng-model="ctrl.event.ruimte" name="ruimte" required md-no-asterisk>
                       <md-option ng-repeat="ruimte in ctrl.ruimtes" ng-value="ruimte">
                         {{ruimte.name}} ({{ruimte.aantalPlaatsen}} plaatsen)
                       </md-option>
                     </md-select>
                     <div ng-messages="createEventForm.ruimte.$error">
                       <div ng-message="required">Gelieve een ruimte te kiezen.</div>
                     </div>
                   </md-input-container>
                   <md-input-container class="md-block" flex-gt-xs flex="25">
                     <label>Aantal Personen</label>
                     <input ng-model="ctrl.event.aantalpersonen" type="number" name="aantalpersonen" placeholder="Aantal Personen *" required min="2" max="{{ctrl.event.ruimte.aantalPlaatsen}}" md-no-asterisk>
                     <div ng-messages="createEventForm.aantalpersonen.$error" multiple>
                       <div ng-message="required">Gelieve een aantal in te vullen.</div>
                       <div ng-message="min">Minimum aantal personen is 2.</div>
                       <div ng-message="max">Maximum aantal personen is {{ctrl.event.ruimte.aantalPlaatsen}}.</div>
                     </div>
                   </md-input-container>
                   <md-input-container class="md-block" flex-gt-xs flex="25">
                     <md-checkbox ng-model="ctrl.event.publiek" name="checkboxPubliek" aria-label="Checkbox Publiek" md-no-ink>
                         Publiek evenement
                     </md-checkbox>
                   </md-input-container>
                   <md-input-container class="md-block" flex-gt-xs flex="15">
                     <md-checkbox ng-model="ctrl.event.catering" name="checkboxCatering" aria-label="Checkbox Catering" md-no-ink>
                         Catering
                     </md-checkbox>
                   </md-input-container>
                 </div>
                </md-content>
                <div layout="row">
                  <md-button type="submit" class="md-raised md-primary btn-submit" flex="66">Maak event</md-button>
                </div>
              </form>
              <!-- EINDE EVENTS -->
        </md-content>
      </md-tab>
      <md-tab label="reservaties">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h3>
              <span class="section-heading">Reservaties bekijken</span>
            </h3>
            <md-button class="md-icon-button refresh" ng-click="ctrl.reload()">
              <md-icon class="icon-white">refresh</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-content class="md-padding no-background tab-settings">
          <!-- Reservaties -->
            <!--<div class="row text-center">
              <h3 class="section-heading">Reservaties</h3>
            </div>-->
            <div class="row">
                <div class="text-center table-responsive-md">
                  <!--<h4 class="section-heading">Bekijken</h4>-->
                  <md-content layout="column" flex class="no-background">

                  <md-toolbar class="md-table-toolbar alternate" ng-show="ctrl.options.rowSelection && ctrl.selected.length">
                    <div class="md-toolbar-tools">
                      <span>{{ctrl.selected.length}} {{ctrl.selected.length > 1 ? 'items' : 'item'}} aangevinkt</span>
                    </div>
                  </md-toolbar>
                  <md-table-container>
                    <md-input-container md-no-float class="md-block input-margin">
                      <md-icon class="icon-grey">search</md-icon>
                      <input type="text" ng-model="ctrl.filter.searchallreservations" placeholder="Zoek"/>
                    </md-input-container>
                    <table class="table-hover" md-table md-row-select="ctrl.options.rowSelection" multiple="{{ctrl.options.multiSelect}}" ng-model="ctrl.selected" md-progress="ctrl.reloadreservations">
                      <thead ng-if="!ctrl.options.decapitate" md-head md-order="ctrl.query.orderreservaties">
                        <tr md-row>
                          <th md-column md-order-by="user.fullName"><span>Naam</span></th>
                          <th md-column md-order-by="user.username"><span>Email</span></th>
                          <th md-column md-order-by="startdate" md-desc><span>Datum</span></th>
                          <th md-column><span></span></th>
                          <th md-column md-order-by="ruimte.name"><span>Ruimte</span></th>
                          <th md-column></th>
                          <th md-column></th>
                        </tr>
                      </thead>
                      <tbody md-body>
                        <tr md-row md-select="reservatie" md-on-select="username" md-auto-select="ctrl.options.autoSelect" ng-repeat="reservatie in ctrl.reservaties | filter: ctrl.filter.searchallreservations | orderBy: ctrl.query.orderreservaties | limitTo: ctrl.query.limit : (ctrl.query.page -1) * ctrl.query.limit">
                          <td md-cell>{{reservatie.user.fullName}}</td>
                          <td md-cell>{{reservatie.user.username}}</td>
                          <td md-cell>{{reservatie.startdate | date:'dd MMMM yyyy'}}</td>
                          <td md-cell ng-switch="reservatie.keuzeDag">
                            <div ng-switch-when="voormiddag">Voormiddag</div>
                            <div ng-switch-when="namiddag">Namiddag</div>
                            <div ng-switch-when="volledigedag">Volledige dag</div>
                          </td>
                          <td md-cell>{{reservatie.ruimte.name}}</td>
                          <td md-cell><div class="custom-button" type="button" ng-click="ctrl.updateReservatie(reservatie)"><md-icon>build</md-icon></div></td>
                          <td md-cell><div class="custom-button btn-delete" type="button" ng-click="ctrl.deleteReservatie(reservatie)"><md-icon>delete</md-icon></div></td>
                        </tr>
                      </tbody>
                    </table>
                  </md-table-container>
                  <md-table-pagination
                    md-limit="ctrl.query.limit"
                    md-limit-options="ctrl.limitOptions"
                    md-page="ctrl.query.page"
                    md-total="{{ctrl.reservaties.length}}"
                    md-page-select="true"
                    md-label="{page: 'Pagina:', rowsPerPage: 'Rijen per pagina:', of: 'van'}"
                    md-boundary-links="ctrl.options.boundaryLinks">
                  </md-table-pagination>
                </md-content>
                  <!--<table class="table table-hover table-settings">
                    <thead>
                      <tr>
                        <th>
                          Naam gebruiker
                        </th>
                        <th>
                          Email gebruiker
                        </th>
                        <th>
                          Datum
                        </th>
                        <th> Deel van de dag
                        </th>
                        <th>
                          Ruimte
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="reservatie in ctrl.reservaties | orderBy:'startdate'">
                        <td>{{reservatie.user.fullName}}</td>
                        <td>{{reservatie.user.username}}</td>
                        <td>{{reservatie.startdate | date:'dd MMMM yyyy'}}</td>
                        <td ng-switch="reservatie.keuzeDag">
                          <div ng-switch-when="voormiddag">Voormiddag</div>
                          <div ng-switch-when="namiddag">Namiddag</div>
                          <div ng-switch-when="volledigedag">Volledige dag</div>
                        </td>
                        <td>{{reservatie.ruimte.name}}</td>
                      </tr>
                    </tbody>
                  </table>-->
                </div>
              </div>
            </md-content>
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h3>
                  <span class="section-heading">Reservaties zoeken op dag</span>
                </h3>
              </div>
            </md-toolbar>
            <md-content class="md-padding no-background tab-settings">
                <div class="row">
                    <div class="text-center table-responsive-md">
                      <md-content layout="column" flex class="no-background">

                      <md-input-container md-no-float class="md-block input-margin">
                        <mdp-date-picker mdp-placeholder="Kies een datum" ng-model="ctrl.dayReservaties" mdp-format="DD/MM/YYYY" name="date" ng-change="ctrl.getReservatiesByDay()" aria-label="Datepicker Reservaties by day">
                          <md-tooltip md-direction="bottom">Klik op het icoon om een datum te kiezen</md-tooltip>
                        </mdp-date-picker>
                      </md-input-container>
                      <md-toolbar class="md-table-toolbar alternate" ng-show="ctrl.options.rowSelection && ctrl.selected.length">
                        <div class="md-toolbar-tools">
                          <span>{{ctrl.selected.length}} {{ctrl.selected.length > 1 ? 'items' : 'item'}} aangevinkt</span>
                        </div>
                      </md-toolbar>
                      <md-table-container ng-show="ctrl.reservatiesday.length > 0">
                        <table class="table-hover" md-table md-row-select="ctrl.options.rowSelection" multiple="{{ctrl.options.multiSelect}}" ng-model="ctrl.selected" md-progress="ctrl.promise">
                          <thead ng-if="!ctrl.options.decapitate" md-head md-order="ctrl.query.orderreservatiesday">
                            <tr md-row>
                              <th md-column md-order-by="user.fullName"><span>Naam</span></th>
                              <th md-column md-order-by="user.username"><span>Email</span></th>
                              <th md-column md-order-by="startdate" md-desc><span>Datum</span></th>
                              <th md-column><span></span></th>
                              <th md-column md-order-by="ruimte.name"><span>Ruimte</span></th>
                              <th md-column></th>
                              <th md-column></th>
                            </tr>
                          </thead>
                          <tbody md-body>
                            <tr md-row md-select="reservatie" md-on-select="username" md-auto-select="ctrl.options.autoSelect" ng-repeat="reservatie in ctrl.reservatiesday | filter: ctrl.filter.searchreservatiesday | orderBy: ctrl.query.orderreservatiesday">
                              <td md-cell>{{reservatie.user.fullName}}</td>
                              <td md-cell>{{reservatie.user.username}}</td>
                              <td md-cell>{{reservatie.startdate | date:'dd MMMM yyyy'}}</td>
                              <td md-cell ng-switch="reservatie.keuzeDag">
                                <div ng-switch-when="voormiddag">Voormiddag</div>
                                <div ng-switch-when="namiddag">Namiddag</div>
                                <div ng-switch-when="volledigedag">Volledige dag</div>
                              </td>
                              <td md-cell>{{reservatie.ruimte.name}}</td>
                              <td md-cell><div class="custom-button" type="button" ng-click="ctrl.updateReservatie(reservatie)"><md-icon>build</md-icon></div></td>
                              <td md-cell><div class="custom-button btn-delete" type="button" ng-click="ctrl.deleteReservatie(reservatie)"><md-icon>delete</md-icon></div></td>
                            </tr>
                          </tbody>
                        </table>
                      </md-table-container>
                      <!-- Show this when there are no reservations on the chosen date -->
                      <div ng-show="ctrl.reservatiesday.length <= 0" class="noreservations">
                        Er zijn geen reservaties op de gekozen dag.
                      </div>
                      {{ctr.reservatiesday}}
                    </md-content>
                    </div>
                  </div>
                </md-content>

            <!--<md-content class="no-background md-padding tab-settings">
              <div class="row">
                <div class="text-center">
                  <h4 class="section-heading">Zoek reservaties op dag</h4>
                  <div layout="row" layout-align="center center">
                  <mdp-date-picker mdp-placeholder="Kies een datum" ng-model="ctrl.day" mdp-format="DD/MM/YYYY" name="date" ng-change="ctrl.getReservatiesByDay()" aria-label="Datepicker Reservaties by day">
                    <md-tooltip md-direction="bottom">Klik op het icoon om een datum te kiezen</md-tooltip>
                    <div ng-messages="boekPlaatsStudentForm.date.$error">
                     <div ng-message="required">Datum is verplicht</div>
                     <div ng-message="format">Verkeerd formaat</div>
                     <div ng-message="minDate">Minimum datum is {{ctrl.minDate | date: " dd MMMM yyyy"}}</div>
                     <div ng-message="maxDate">Maximum datum is {{ctrl.maxDate | date: " dd MMMM yyyy"}}</div>
                    </div>
                  </mdp-date-picker>
                </div>-->
                  <!--<md-input-container flex-gt-xs>
                    <md-datepicker ng-model="ctrl.day" name="date" ng-change="ctrl.getReservatiesByDay()"></md-datepicker>-->
                    <!--<input type="date" ng-model="ctrl.day"></input>-->
                  <!--</md-input-container>-->
                  <!--<table class="table table-hover table-settings">
                    <thead>
                      <tr>
                        <th>
                          Naam gebruiker
                        </th>
                        <th>
                          Email gebruiker
                        </th>
                        <th>
                          Datum
                        </th>
                        <th>
                          Ruimte
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="reservatie in ctrl.reservatiesday">
                        <td>{{reservatie.user.fullName}}</td>
                        <td>{{reservatie.user.username}}</td>
                        <td>{{reservatie.startdate | date:'dd MMMM yyyy'}}</td>
                        <td>{{reservatie.ruimte.name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>-->
          <!-- EINDE Reservaties-->
        <!--</md-content>-->
      </md-tab>
      <md-tab label="gebruikers">
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h3>
                <span class="section-heading">Administrator aanmaken</span>
              </h3>
            </div>
          </md-toolbar>
          <md-content class="md-padding no-background tab-settings">
            <form ng-submit="ctrl.createAdmin(createAdminForm)" name="createAdminForm">
              <md-content class="md-no-momentum no-background">
                <div layout-gt-xs="row">
                  <md-input-container md-no-float class="md-block" flex="50">
                    <md-icon>person</md-icon>
                    <input ng-model="ctrl.admin.voornaam" type="text" name="voornaam" placeholder="Voornaam *" required>
                    <div ng-messages="createAdminForm.voornaam.$error">
                      <div ng-message="required">Gelieve een voornaam in te vullen.</div>
                    </div>
                  </md-input-container>
                  <md-input-container md-no-float class="md-block" flex="50">
                    <input ng-model="ctrl.admin.naam" type="text" name="naam" placeholder="Naam *" required>
                    <div ng-messages="createAdminForm.naam.$error">
                      <div ng-message="required">Gelieve een familienaam in te vullen.</div>
                    </div>
                  </md-input-container>
                </div>
                <md-input-container md-no-float class="md-block" layout="row">
                  <md-icon>email</md-icon>
                  <input ng-model="ctrl.admin.username" type="email" name="username" placeholder="Email *" required ng-pattern="/^.+@.+\..+$/">
                  <div ng-messages="createAdminForm.username.$error" multiple md-auto-hide="false">
                    <div ng-message="required">
                      Gelieve een email in te vullen.
                    </div>
                    <div ng-message="pattern">
                      Geen geldig e-mailadres.
                    </div>
                    <div ng-message="exists">
                      Er bestaat al een gebruiker met dit e-mailadres.
                    </div>
                  </div>
                </md-input-container>
                <div layout="row">
                  <md-button type="submit" class="md-raised md-primary btn-submit" flex="66">Aanmaken</md-button>
                </div>
              </md-content>
            </form>
        </md-content>
      </md-tab>
      <md-tab label="Blokkeer data">
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h3>
                <span class="section-heading">Blokkeer data</span>
              </h3>
            </div>
          </md-toolbar>

          <div class="container settings-block-dates">
            <div layout-gt-xs="row">
              <div class="text-center" flex="50">
                <div class="wrapper-box" layout="column" layout-padding>
                  <form ng-submit="ctrl.blokkeerdata()" name="blokkeerdataForm">
                    <md-content class="md-no-momentum no-background">
                      <div layout-gt-xs="row">

                        <!--<mdp-date-picker class="datepicker-settings-open" mdp-placeholder="Kies een datum" ng-model="ctrl.blockeddate" mdp-format="DD/MM/YYYY" name="date" mdp-date-filter="ctrl.disabledates" aria-label="Datepicker Blokkeer data">
                        </mdp-date-picker>-->
                      </div>
                      <div class="eventcalendar">
                        <multiple-date-picker calendar-id="'blockcalendar'" week-days-off="[0, 6]" ng-model="ctrl.datesClicked" disallow-back-past-months="true" highlight-days="ctrl.highlightDays" disable-days-before="ctrl.todayDate"></multiple-date-picker>
                      </div>

                      <div layout="row">
                        <md-button type="submit" class="md-raised md-primary btn-submit" flex="66">Blokkeer data</md-button>
                      </div>
                    </md-content>
                  </form>
                </div>
              </div>
              <div class="text-center" flex="50">
                <div class="wrapper-box" layout="column" layout-padding>
                  <form ng-submit="ctrl.deleteBlockedDate()" name="deleteblokkeerdataForm">
                    <md-content class="md-no-momentum no-background">
                      <div layout-gt-xs="row">
                        <mdp-date-picker class="datepicker-settings-unblock" mdp-placeholder="Kies een datum" ng-model="ctrl.selectedblockeddate" mdp-format="DD/MM/YYYY" name="date"  aria-label="Datepicker Blokkeer data">
                        </mdp-date-picker>
                      </div>
                      <div layout="row">
                        <md-button type="submit" class="md-raised md-primary btn-submit" flex="66">Deblokkeer datum</md-button>
                      </div>
                    </md-content>
                  </form>
                </div>
                <div class="wrapper-box">
                  <h4>Legende</h4>
                  <div class="container">
                    <div layout-gt-xs="row">
                      <div class="legende-today"></div>
                      <div class="legende-text">Vandaag</div>
                    </div>
                    <div layout-gt-xs="row">
                      <div class="legende-holiday"></div>
                      <div class="legende-text">Feestdag</div>
                    </div>
                    <div layout-gt-xs="row">
                      <div class="legende-custom"></div>
                      <div class="legende-text">Zelf geblokkeerde datum</div>
                    </div>
                    <div layout-gt-xs="row">
                      <div class="legende-weekend"></div>
                      <div class="legende-text">Weekend/Verleden</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!--<div>
          {{ctrl.blockeddatesyear}}
        </div>
        <div>
          {{ctrl.datesClicked}}
        </div>-->
      </md-tab>
    </md-tabs>
  </md-content>
