<section id="tokeninvalid">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <div class="invalid-token-table">
          <div class="invalid-token-row">
            <div><md-icon class="stop-icon">pan_tool</md-icon></div>
            <div class="invalid-token-text">De token is niet geldig of is verlopen.
            Ga terug naar de <a href="/home">home</a> pagina. </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
