<div role="dialog" aria-label="Update ruimte" layout="column" layout-align="center center">
  <md-toolbar class="toolbar-updateruimte">
    <div class="md-toolbar-tools ">
      <h2>{{ctrl.ruimte.name}} aanpassen</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.close()">
        <md-icon aria-label="Close dialog" class="close-icon">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div class="update-dialog">
    <div class="row text-center">
      <div class="alert alert-danger text-center custom-alert" ng-animate="{hide: 'animate-hide'}" ng-show="ctrl.message" role="alert">{{ctrl.message}}</div>
    </div>
    <form ng-submit="ctrl.update()" name="updateRuimteForm" class="update-dialog-content">
    <md-content class="md-no-momentum no-background">
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs flex="50">
          <label>Naam</label>
          <input ng-model="ctrl.ruimte.name" type="text" name="name" required>
          <div ng-messages="updateRuimteForm.name.$error">
            <div ng-message="required">De naam van de ruimte moet ingevuld zijn.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs flex="50">
          <label>Maximum aantal beschikbare plaatsen</label>
          <input ng-model="ctrl.ruimte.aantalPlaatsen" type="number" name="aantalplaatsen" required>
          <div ng-messages="updateRuimteForm.aantalplaatsen.$error">
            <div ng-message="required">Het maximum aantal beschikbare plaatsen moet ingevuld zijn.</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Beschrijving</label>
          <textarea ng-model="ctrl.ruimte.beschrijving" type="text" name="description" required rows="5"></textarea>
          <div ng-messages="updateRuimteForm.description.$error">
            <div ng-message="required">Er moet een beschrijving ingevuld worden.</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs flex="33.33">
          <label>Prijs</label>
          <input ng-model="ctrl.ruimte.price" type="number" name="price" min="0" step="any" required>
          <div ng-messages="updateRuimteForm.price.$error" multiple>
            <div ng-message="required">Gelieve een prijs in te voeren.</div>
            <div ng-message="min">Het minimum bedrag is € 0.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs flex="33.33">
          <label>Prijs per persoon</label>
          <input ng-model="ctrl.ruimte.priceperperson" type="number" name="priceperperson" min="0" step="any" required>
          <div ng-messages="updateRuimteForm.priceperperson.$error" multiple md-auto-hide="false">
            <div ng-message="required">
              <md-icon class="error">error_outline</md-icon>&nbsp;Prijs per persoon is leeg.
            </div>
            <div ng-message="min">
              <md-icon class="error">error_outline</md-icon>&nbsp;Het minimum bedrag is € 0.
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs flex="33.33">
          <label>Elektriciteitsaansluitingen</label>
          <input ng-model="ctrl.ruimte.elektriciteitsaansluitingen" type="number" name="elektriciteitsaansluitingen" required>
          <div ng-messages="updateRuimteForm.elektriciteitsaansluitingen.$error" multiple>
            <div ng-message="required">Gelieve een aantal in te voeren.</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs flex="33.33">
          <md-checkbox ng-model="ctrl.ruimte.internetavailable" name="checkboxInternet" aria-label="Checkbox Internet" md-no-ink>
              Internet
          </md-checkbox>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs flex="33.33">
          <md-checkbox ng-model="ctrl.ruimte.coffeewateravailable" name="checkboxCoffeeWater" aria-label="Checkbox Coffee and Water" md-no-ink>
              Koffie en water
          </md-checkbox>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs flex="33.33">
          <md-checkbox ng-model="ctrl.ruimte.printeravailable" name="checkboxPrinter" aria-label="Checkbox Printer" md-no-ink>
              Printer
          </md-checkbox>
        </md-input-container>
      </div>
      </md-content>
      <div layout="row">
        <md-button type="submit" class="md-raised md-primary btn-submit update-dialog-button">Update</md-button>
      </div>
    </form>
  </div>
</div>
