<section id="sectionvraagofferteaan">
        <div class="container" id="vraagofferteaan">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <!-- CONTENT TEST -->
                  <div class="contactwrapper" layout="column" layout-padding ng-cloak>

                    <div class="row text-center">
                      <h2 class="section-heading">Vraag een offerte aan</h2>
                    </div>
                    <div ng-show="ctrl.message" class="alert" role="alert">{{ctrl.message}}</div>
                    <form ng-submit="ctrl.vraagOfferteAan()" name="vraagOfferteAanForm">
                    <md-content class="md-no-momentum no-background">
                      <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs flex="50">
                          <label>Voornaam</label>
                          <input ng-model="ctrl.offerte.user.voornaam" type="text" name="voornaam" placeholder="Voornaam *" required ng-disabled="ctrl.disabled">
                        </md-input-container>
                        <md-input-container md-no-float class="md-block" flex="50">
                          <label>Naam</label>
                          <input ng-model="ctrl.offerte.user.naam" type="text" name="naam" placeholder="Naam *" required ng-disabled="ctrl.disabled">
                        </md-input-container>
                      </div>
                      <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                          <label>Email</label>
                          <input ng-model="ctrl.offerte.user.username" type="email" name="username" placeholder="Email *" required ng-pattern="/^.+@.+\..+$/" ng-disabled="ctrl.disabled">
                        </md-input-container>
                        <mdp-date-picker mdp-placeholder="Kies een datum" mdp-format="DD/MM/YYYY" ng-model="ctrl.offerte.startdate" mdp-min-date="ctrl.minDate" mdp-max-date="ctrl.maxDate" required name="date" mdp-date-filter="ctrl.weekendDisable" aria-label="Datepicker Event"></mdp-date-picker>
                          <!--<md-datepicker ng-model="ctrl.offerte.startdate" md-placeholder="Kies een datum" md-min-date="ctrl.getTodayDate()" md-open-on-focus></md-datepicker>-->
                        <mdp-time-picker ng-model="ctrl.startTime" mdp-auto-switch="true" required name="time" aria-label="Timepicker Event"></mdp-time-picker>
                          <!--<input type="time" ng-model="ctrl.startTime"></input>-->
                      </div>
                      <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs flex="33">
                          <label>Naam event</label>
                          <input ng-model="ctrl.offerte.name" type="text" name="naam" placeholder="Naam event *" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs flex="33">
                          <label>Type</label>
                          <md-select ng-model="ctrl.offerte.eventType" name="eventType" required>
                            <md-option ng-repeat="eventType in ctrl.eventTypes" ng-value="eventType">
                              {{eventType.name}}
                            </md-option>
                          </md-select>
                          <div ng-messages="vraagOfferteAanForm.eventType.$error">
                            <div ng-message="required">Er moet een type gekozen worden.</div>
                          </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs flex="33">
                          <md-radio-group ng-model="ctrl.offerte.keuzeDag" md-no-ink="true">
                            <md-radio-button value="volledigedag" class="md-primary">Volledige dag</md-radio-button>
                            <md-radio-button value="voormiddag" class="md-primary"> Voormiddag </md-radio-button>
                            <md-radio-button value="namiddag" class="md-primary">Namiddag</md-radio-button>
                          </md-radio-group>
                        </md-input-container>
                      </div>
                      <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                          <label>Beschrijving</label>
                          <textarea ng-model="ctrl.offerte.description" type="text" name="description" placeholder="Beschrijving *" required rows="5"></textarea>
                          <div ng-messages="vraagOfferteAanForm.description.$error">
                            <div ng-message="required">Er moet een beschrijving ingevuld worden.</div>
                          </div>
                        </md-input-container>
                      </div>
                      <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs flex="33">
                          <label>Aantal Personen</label>
                          <input ng-model="ctrl.offerte.aantalpersonen" type="number" name="aantalpersonen" placeholder="Aantal Personen *" required min="5" max="{{ctrl.selectedRoom.aantalPersonen}}">
                          <div ng-messages="vraagOfferteAanForm.aantalpersonen.$error" multiple>
                            <div ng-message="required">Aantal personen is verplicht.</div>
                            <div ng-message="min">Minimum aantal personen is 5.</div>
                            <div ng-message="max">Maximum aantal personen is {{ctrl.selectedRoom.aantalPersonen}}.</div>
                          </div>

                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs flex="33">
                          <label>Ruimtes</label>
                          <md-select ng-model="ctrl.offerte.ruimte" name="ruimte" required>
                            <md-option ng-repeat="ruimte in ctrl.ruimtes" ng-value="ruimte">
                              {{ruimte.name}}
                            </md-option>
                          </md-select>
                          <div ng-messages="vraagOfferteAanForm.ruimte.$error">
                            <div ng-message="required">Er moet een ruimte gekozen worden.</div>
                          </div>
                        </md-input-container>
                        <!--<md-input-container class="md-block" flex-gt-xs flex="33">
                          <label>Type</label>
                          <md-select ng-model="ctrl.offerte.type" name="type" required>
                            <md-option ng-repeat="type in ctrl.types" ng-value="type">
                              {{type.name}}
                            </md-option>
                          </md-select>
                          <div ng-messages="vraagOfferteAanForm.types.$error">
                            <div ng-message="required">Er moet een type gekozen worden.</div>
                          </div>
                        </md-input-container>-->
                      </div>
                      <div layout-gt-xs="row">

                      </div>
                      </md-content>
                      <div layout="row">
                        <md-button type="submit" class="md-raised md-primary btnSubmitContact" flex="66">Vraag Offerte Aan</md-button>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
</section>
