<section id="sectionvraagofferteaan" ng-cloak>
        <div class="container" id="vraagofferteaan">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <!-- CONTENT TEST -->
                  <div class="wrapper-box" layout="column" layout-padding ng-cloak>

                    <div class="row text-center">
                      <h2 class="section-heading">Vraag een offerte aan</h2>
                    </div>
                    <div class="row text-center">
                      <div class="alert alert-danger text-center custom-alert" ng-animate="{hide: 'animate-hide'}" ng-show="ctrl.message" role="alert">{{ctrl.message}}</div>
                    </div>
                    <form ng-submit="ctrl.vraagOfferteAan()" name="vraagOfferteAanForm">
                    <md-content class="md-no-momentum no-background">
                      <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                          <label>Voornaam</label>
                          <input ng-model="ctrl.offerte.user.voornaam" type="text" name="voornaam" placeholder="Voornaam *" required ng-disabled="ctrl.disabled">
                        </md-input-container>
                        <md-input-container md-no-float class="md-block" flex-gt-xs>
                          <label>Naam</label>
                          <input ng-model="ctrl.offerte.user.naam" type="text" name="naam" placeholder="Naam *" required ng-disabled="ctrl.disabled">
                        </md-input-container>
                      </div>
                      <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                          <label>Email</label>
                          <input ng-model="ctrl.offerte.user.username" type="email" name="username" placeholder="Email *" required ng-pattern="/^.+@.+\..+$/" ng-disabled="ctrl.disabled">
                        </md-input-container>
                      </div>
                      <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                          <label>Naam event</label>
                          <input ng-model="ctrl.offerte.name" type="text" name="naam" placeholder="Naam event *" required>
                          <div ng-messages="vraagOfferteAanForm.naam.$error">
                            <div ng-message="required">Gelieve een naam voor het evenement in te vullen.</div>
                          </div>
                        </md-input-container>
                      </div>
                      <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                          <label>Type</label>
                          <md-select ng-model="ctrl.offerte.eventType" name="eventType" required>
                            <md-option ng-repeat="eventType in ctrl.eventTypes" ng-value="eventType">
                              {{eventType.name}}
                            </md-option>
                          </md-select>
                          <div ng-messages="vraagOfferteAanForm.eventType.$error">
                            <div ng-message="required">Gelieve een type te kiezen.</div>
                          </div>
                        </md-input-container>
                        <mdp-date-picker class="md-block" flex-gt-xs mdp-placeholder="Kies een datum" mdp-format="DD/MM/YYYY" ng-model="ctrl.offerte.startdate" mdp-min-date="ctrl.minDate" mdp-max-date="ctrl.maxDate" required name="date" mdp-date-filter="ctrl.disabledates" onkeydown="return false" aria-label="Datepicker Event">
                          <md-tooltip md-direction="top">Klik op het icoon om een datum te kiezen</md-tooltip>
                          <div ng-messages="vraagOfferteAanForm.date.$error" multiple md-auto-hide="false">
                           <div ng-message="required">Datum is verplicht</div>
                          </div>
                        </mdp-date-picker>
                          <!--<md-datepicker ng-model="ctrl.offerte.startdate" md-placeholder="Kies een datum" md-min-date="ctrl.getTodayDate()" md-open-on-focus></md-datepicker>-->
                        <mdp-time-picker flex-gt-xs ng-model="ctrl.startTime" mdp-auto-switch="true" required name="starttime" aria-label="Timepicker Event" ng-change="ctrl.checkTimes(vraagOfferteAanForm)">
                          <md-tooltip md-direction="top">Klik op het klokje om een starttijd te kiezen</md-tooltip>
                          <div ng-messages="vraagOfferteAanForm.starttime.$error" multiple md-auto-hide="false">
                           <div ng-message="required">Starttijd is verplicht</div>
                           <div ng-message="startgreaterend">Starttijd is groter dan eindtijd</div>
                          </div>
                        </mdp-time-picker>
                        <div class="time-tot">tot</div>
                        <mdp-time-picker flex-gt-xs ng-model="ctrl.endtime" mdp-auto-switch="true" required name="endtime" aria-label="Timepicker Event" ng-change="ctrl.checkTimes(vraagOfferteAanForm)">
                          <md-tooltip md-direction="top">Klik op het klokje om een eindtijd te kiezen</md-tooltip>
                          <div ng-messages="vraagOfferteAanForm.endtime.$error" md-auto-hide="false">
                           <div ng-message="required">Eindtijd is verplicht</div>
                          </div>
                        </mdp-time-picker>
                      </div>
                      <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                          <label>Beschrijving</label>
                          <textarea ng-model="ctrl.offerte.description" type="text" name="description" placeholder="Beschrijving *" required rows="5"></textarea>
                          <div ng-messages="vraagOfferteAanForm.description.$error">
                            <div ng-message="required">Gelieve een beschrijving in te vullen.</div>
                          </div>
                        </md-input-container>
                      </div>
                      <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                          <label>Aantal Personen</label>
                          <input ng-model="ctrl.offerte.aantalpersonen" type="number" name="aantalpersonen" placeholder="Aantal Personen *" required min="2" max="{{ctrl.offerte.ruimte.aantalPlaatsen}}">
                          <div ng-messages="vraagOfferteAanForm.aantalpersonen.$error" multiple>
                            <div ng-message="required">Gelieve een aantal in te vullen.</div>
                            <div ng-message="min">Minimum aantal personen is 5.</div>
                            <div ng-message="max">Maximum aantal personen is {{ctrl.offerte.ruimte.aantalPlaatsen}}.</div>
                          </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                          <label>Ruimte</label>
                          <md-select ng-model="ctrl.offerte.ruimte" name="ruimte" required>
                            <md-option ng-repeat="ruimte in ctrl.ruimtes" ng-value="ruimte">
                              {{ruimte.name}} ({{ruimte.aantalPlaatsen}} plaatsen)
                            </md-option>
                          </md-select>
                          <div ng-messages="vraagOfferteAanForm.ruimte.$error">
                            <div ng-message="required">Gelieve een ruimte te kiezen.</div>
                          </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                          <md-checkbox ng-model="ctrl.offerte.publiek" name="checkboxPubliek" aria-label="Checkbox Publiek" md-no-ink>
                              Publiek evenement
                          </md-checkbox>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                          <md-checkbox ng-model="ctrl.offerte.catering" name="checkboxCatering" aria-label="Checkbox Catering" md-no-ink>
                              Catering
                          </md-checkbox>
                        </md-input-container>
                      </div>
                      <div layout-gt-xs="row" ng-show="ctrl.offerte.catering">
                        <md-input-container class="md-block" flex-gt-xs>
                          <label>Soort catering</label>
                          <md-select ng-model="ctrl.offerte.cateringsoort" name="cateringsoort" required>
                            <md-option ng-repeat="cateringsoort in ctrl.cateringsoorten" ng-value="cateringsoort">
                              {{cateringsoort}}
                            </md-option>
                          </md-select>
                          <div ng-messages="vraagOfferteAanForm.cateringsoort.$error">
                            <div ng-message="required">Gelieve een soort catering te kiezen.</div>
                          </div>
                        </md-input-container>
                      </div>
                      <div layout-gt-xs="row" ng-show="ctrl.offerte.catering">
                        <md-input-container class="md-block" flex-gt-xs>
                          <label>Extra info voor catering</label>
                          <textarea ng-model="ctrl.offerte.cateringbericht" type="text" name="cateringbericht" placeholder="Laat hier wat meer info achter over de catering." rows="3"></textarea>
                        </md-input-container>
                      </div>
                      </md-content>
                      <div layout="row">
                        <md-button type="submit" class="md-raised md-primary btn-submit" flex="66">Vraag Offerte Aan</md-button>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
</section>
