/* -------------------------------------
    NAVBAR
------------------------------------- */

.navbar{
  background-color: #eee;
  margin-bottom: 0px;
}

.navbar-default .navbar-brand{
  font-size: 2em;
}

.navbar-default .navbar-nav>li>a {
    margin-left:5px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover{
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus{
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar{
    background-color: #eee;
}

.navbar-default .navbar-toggle:focus .icon-bar{
    background-color: #eee;
}

.nav-small-combined {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #eee;
}

.nav-small {
    z-index: 1001;
    font-size: 14px;
}

h3 small {
  font-size: 14px;
  font-weight: normal;
}

small {
  font-weight: 100 !important;
}

.nav-small a {
  display: list-item;
  text-decoration: none;
  font-weight: 100 !important;
}

.nav-small li, .nav-small a {
  line-height: 150%;
}

.nav-small-combined li{
    margin: 0 10px;
    font-size: 14px;
    font-weight: 100 !important;
}

.nav-small li a:hover, .nav-small li.active a {
  text-decoration: underline;
  font-weight: 100 !important;
}

@media (max-width: 1052px) {

    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {

    }

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        margin-top: 18px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

/* -------------------------------------
    BODY
------------------------------------- */

@font-face {
font-family: 'AshleyScriptMT';
src: url('/fonts/AshleyScriptMT.otf') format('opentype');
font-weight: bold;
}

h3 {
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  h3 {
    margin-top: 20px;
    margin-left: 20px;
  }
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

body {
  font-family: "Roboto",Helvetica,Arial,sans-serif;
  font-style: normal;
  color: #615E5D;
}

html.md-default-theme, html, body.md-default-theme, body {
  background-color: rgb(255,255,255) !important;
}

#cont {
   min-height:100%;
   position:relative;
}
#body {
   padding-bottom:80px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:80px;   /* Height of the footer */
   background:#6cf;
}

.footer-copyright {
  line-height: 80px !important;
  background-color: #eee;
}

.alert-custom{
  margin: 0 auto;
  max-width: 380px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  background: #eee !important;
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.1);

}

.form-control .form-login {
	 position: relative;
	 font-size: 16px;
	 height: auto;
	 padding: 10px;
}

.wrapper-box{
  border: 1px solid rgba(0,0,0,.03);
  margin: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

md-toolbar {
  z-index: 0 !important;
}

.md-input-messages-animation {
  font-size: 0.8em;
  text-align: left;
  width: 100%;
}

.layout-padding>*, .layout-padding>.flex{
  padding: 6px !important;
}

.error{
  fill: rgb(221,44,0);
  color: rgb(221,44,0);
}

/* -------------------------------------
    CUSTOM BACKGROUNDS
------------------------------------- */

.bg-yellow {
  background-color: #FFBF3B;
}

.bg-red {
  background-color: #A40D4E;
}

.bg-green {
  background-color: #15B366;
}

.bg-black {
  background-color: #404041;
  color: white;
}

.no-background {
  background-color: rgb(255, 255, 255);
}

/* -------------------------------------
    BUTTONS
------------------------------------- */
a:hover,a:focus,a:active{
  outline: none !important;
}

.btn-block{
  background-color: #15B366;
  border: none;
  padding: 12px;
  border-radius: 0px 0px 5px 5px !important;
}

.btn-block:hover{
  background-color: #04B431;
}

.btn-block:focus {
  background-color: #04B431;
}

.btn-block:focus,.btn-block:active {
  outline: none !important;
  box-shadow: none;
}

.btn-reserveer {
  background-color: #15B366;
  border: none;
}

.btn-reserveer:hover {
  background-color: #04B431;
}

.btn-reserveer:focus {
  background-color: #04B431;
  border-color: #04B431;
}

.btn-reserveer:focus,.btn-reserveer:active {
   outline: none !important;
   box-shadow: none;
}

.btn {
  border-radius: 0;
}

.btn-verzenden {
  border-radius: 5px;
}

.btn-submit {
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: #15B366 !important;
  color: white !important;
}

.btn-primary[disabled]{
  background-color: #A40D4E!important;
  opacity: 1;
}

.btn-warning{
  border-radius: 5px;
  background-color: white;
  color: black;
}

.custom-button {
  cursor: pointer;
  outline: 0 !important;
}

.animate-button {
  transform: rotate(180deg);
  -webkit-transition: 0.2s ease-in-out all;
  transition:  0.2s ease-in-out all;
}

.animate-button:hover {
  transform: rotate(360deg);
  -webkit-transition: 0.2s ease-in-out all;
  transition:  0.2s ease-in-out all;
}

/* -------------------------------------
    CHECKBOX
------------------------------------- */

md-checkbox.md-checked .md-icon{
  background-color: #15B366;
}

/* -------------------------------------
    BLOCKS VOORWIE
------------------------------------- */

.block {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.block-title {
  background-color: #404041;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px 5px 0px 0px;
}

.block-text {
  padding: 10px;
  background-color: white;
}

@media (min-width: 768px) {
  .block-voorwie {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .block-voorwie-row {
    display: table-row;
  }

  .block-voorwie-column {
    display: table-cell;
    width: 33.33%;
  }

  .block-voorwie-column-spacing {
    display: table-cell;
    width: 10px;
  }
}

@media (max-width: 768px) {
  .block-voorwie {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .block-voorwie-row {
    display: table-row;
  }

  .block-voorwie-column {
    display: table-cell;
  }

  .block-voorwie-column-spacing {
    display: table-cell;
    width: 10px;
  }
}

/* -------------------------------------
    SECTIONS
------------------------------------- */

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  padding-bottom: 30px;
}

.section-heading {
  font-family: 'AshleyScriptMT';
  text-transform: uppercase;
  margin-top: 30px;
}

.section-heading-voorwie {
 color: white;
 margin-bottom: 0px;
}

.section-heading-agenda {
  padding-bottom: 0px;
}

#voorwie {
  background: linear-gradient(
      rgba(50, 50, 50, 0.6),
      rgba(50, 50, 50, 0.6)
    ), url("/images/BBQ.jpg") no-repeat bottom;
  min-height: 500px;
}

#sectionCoworking, #sectionMeetingRoom, #sectionTrainingRoom, #sectionBoardRoom {
  display: none;
  color: white;
}

/* -------------------------------------
    SCROLL TO TOP
------------------------------------- */

#scroll {
    position:fixed;
    right:20px;
    bottom:20px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#7ACED5;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    z-index: 1;
    outline: none !important;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#A9A9A9;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

/* -------------------------------------
    GOOGLE MAPS
------------------------------------- */

#map {
  height: 500px;
  display: block;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 5px;
}

#gmaps {
    height: 450px;
}

/* -------------------------------------
    LIST DECORATION
------------------------------------- */

.nobullets {
  list-style-type: none;
}

.bullets {
  list-style-position: inside;
}

/* -------------------------------------
    TABLES
------------------------------------- */

.total-width-table {
  margin-left: 0 ;
  margin-right: 0 ;
  width: 100%;
  text-align: center;
}

table {
  border-collapse: inherit;
}

/* -------------------------------------
    TOAST & ALERTS
------------------------------------- */

@media(max-width: 960px){
  md-toast {
    padding: 8px;
  }
}

#toast-container
{
  position: fixed;
  width: 25% !important;
  /*margin-left: -150px !important;*/
  bottom: 0 !important;
  /*left: 50% !important;
  right: 50% !important;*/
  /*top: 71px;*/
  z-index: 999;
  overflow: visible !important;
  text-align: center;
}

div.md-toast-content {
  background-color: rgba(21,179,102,1) !important;
}

#toast-container-alert
{
  position: fixed;
  width: 25% !important;
  /*margin-left: -150px !important;*/
  /*top: 71px;*/
  bottom: 0 !important;
  /*left: 50% !important;
  right: 50% !important;*/
  z-index: 999;
  overflow: visible !important;
  text-align: center;
}

#toast-container-alert div.md-toast-content {
  background-color: rgba(164,13,78,1) !important;

}

md-toast._md.md-default-theme.md-top.md-left {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  border-radius: 0px;
}

.custom-alert{
  border-radius: 0px;
  background-color: #A40D4E;
  border-color: #A40D4E;
  color: white;
  -webkit-transition: 0.2s linear all;
  transition:  0.2s linear all;
}

.custom-alert.ng-hide {
  height: 0px;
  padding: 0px;
  border: 0px;
}

div.alert {
  margin-bottom: 0;
}

/* -------------------------------------
    CALENDAR AGENDA
------------------------------------- */

calendar-md{
  width: 60% !important;
  margin-bottom: 50px;
  margin-right: auto !important;
}

calendar-md > md-content{
  height: 350px !important;
}

.calendar-md-title {
  font-family: 'AshleyScriptMT';
  text-transform: uppercase;
}

h2.calendar-md-title {
  padding-top: 10px;
}

.geenEvents{
  padding: 8px;
  font-weight: bold;
}

.div-empty {
  padding-left: 16px;
  padding-right: 16px;
}

.dialogcontent {
  padding-top: 10px;
  padding-left: 16px;
}

/* -------------------------------------
    DATEPICKER & TIMEPICKER
------------------------------------- */

.mdp-calendar-monthyear {
  font-size: 13px !important;
}

.mdp-calendar-week-days {
  font-size: 12px !important;
}

.mdp-calendar-days .md-button {
  width: 32px !important;
  height: 32px !important;
}

.md-button.md-icon-button {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.mdp-datepicker.portrait .mdp-calendar-days>* {
  width: 32px !important;
  height: 32px !important;
}

.mdp-calendar-days {
  font-size: 16px !important;
}

div.mdp-calendar .md-button.md-icon-button{
  padding: 0;
}

md-toolbar.md-hue-1:not(.md-menu-toolbar){
  background-color: rgb(122, 206, 213);
}

.md-button.md-default-theme.md-accent.md-raised, .md-button.md-accent.md-raised, .md-button.md-default-theme.md-accent.md-fab, .md-button.md-accent.md-fab {
  background-color: rgb(122, 206, 213);
}
.md-button.md-accent.md-raised:not([disabled]):hover {
  background-color: rgb(122, 206, 213);
}

.md-button.md-primary {
  color: rgb(0, 0, 0);
}

.time {
  padding: 8px 0px 8px 8px;
}

.md-button.md-primary.md-raised {
  background-color: rgb(122, 206, 213);
}

.md-button.md-primary.md-raised:not([disabled]):hover {
  background-color: rgb(122, 206, 213);
}

md-toolbar:not(.md-menu-toolbar) {
  background-color: rgb(122, 206, 213);
}

/* -------------------------------------
    RUIMTES
------------------------------------- */

img.md-card-image {
  max-height: 250px;
  min-height: 250px;
}

.ruimte-card {
  width: 50%;
}

.cards {
  display: flex;
  align-items: stretch;
}

.card-list {
  padding-left: 20px;
}

.animate-content {
  overflow: hidden;
  max-height: 300px;
  transition-property: 'max-height';
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.animate-content.ng-hide-remove,
.animate-content.ng-hide-add,.animate-content.ng-hide {
  display:block!important;
}

.animate-content.ng-hide{
  max-height: 0px;
  padding-bottom: 0px;
}

/* Panel update ruimte in Settings */
div.md-panel-outer-wrapper.md-panel-is-showing {
  position: fixed;
  margin: 0;
  padding: 0;
}

.update-md-panel {
  min-height: 500px;
}

.update-dialog-border {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 500px;
}

.update-dialog {
  padding: 0px 15px 10px 15px;
  width: 100%;
}

.update-dialog-content {
  padding-top: 10px;
}

.update-dialog-button {
  width: 100%;
}
/* Einde Panel update ruimte in Settings */

/* -------------------------------------
    SETTINGS
------------------------------------- */

.refresh {
  float: right !important;
  text-align: right !important;
}

md-progress-linear .md-bar{
  background-color: #15B366;
}

table.md-table th.md-column md-icon{
  min-height: 0;
  min-width: 0;
}

div.md-toolbar-tools.toolbar-search {
  background-color: rgb(255,255,255) !important;
}

.icon-grey{
  opacity: 0.5 !important;
  color: #404041 !important;
}

.input-margin {
  margin-bottom: 0px;
}

/* -------------------------------------
    TABS SETTINGS
------------------------------------- */

md-tabs .md-tab.md-active{
  color: #15B366;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  background-color: #15B366;
  color: #15B366;
}

md-tab-item:active{
  color: black;
}

md-tab-item.md-tab {
  padding-left: 0px;
  padding-right: 0px;
  width: 0px;
}

md-tabs[md-border-bottom] md-tabs-wrapper{
  border-style: none !important;
}

.tab-settings {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

/* -------------------------------------
    OPENINGSUREN
------------------------------------- */

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.table {
  margin: 0px auto;
  float: none;
}

/* -------------------------------------
    RESERVEREN CO-WORKER
------------------------------------- */

.price{
  width: 5%;
}

.euro{
  width: 5%;
}

/* -------------------------------------
    TOOLBARS
------------------------------------- */

div.md-toolbar-tools {
  background-color: #404041;
}

div.md-toolbar-tools.layout-row {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.md-toolbar-tools h2{
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}


/*
.clickable-block {
  cursor: pointer;
}*/
/*
.block-image {
  height: 200px;
  background: url("/images/vergaderzaal2_test.jpg") no-repeat center;
}*/
/*
.image-coworking {
  background: url("/images/vergaderzaal1_test.jpg") no-repeat bottom;
}

.image-meeting {
  background: url("/images/vergaderzaal2_test.jpg") no-repeat bottom;
}

.image-training {
  background: url("/images/vergaderzaal3_test.jpg") no-repeat bottom;
}

.image-board {
  background: url("/images/vergaderzaal4_test.jpg") no-repeat bottom;
}*/
/*
.roomblock {
  margin-top: 2em;
}*/

/*
.img-vergaderzaal1{
  width: 50%;
  height: 50%;
  float: left;
}*/

/*
.dropdown-menu ul li {
    width: 100% !important;
}*/
/*
.iconperson{
  margin-top: 25px !important;
  margin-bottom: 0px !important;
  color: rgba(0,0,0,1);
}
*/
/*
.item-box{
  width: 10px;
  height: 10px;
  background-color: #15B366;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 5px;
  margin-left: -6px;
  /*margin: 5px !important;*//*
}*/

/*
.table-settings th {
  text-align: center;
}
*/
/*
.close-dialog{
  color: white !important;
}*/
/*
md-input-container:not(.md-input-has-value) input:not(:focus), md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field
{
color: black !important;
}*/
/*
.dialog-date{
  text-transform: capitalize;
}*/
/*
.description {
  margin-top: 10px;
}*/
/*
.label {
  color: rgba(0,0,0,.54) !important;
  font-size: 100% !important;
}*/
