.green {
  color: #1dd217;
}

.red {
  color: #ea3102;
}

.navbar{
  background-color: #FFBF3B;
}

.navbar-default .navbar-brand{
  color: #fff !important;
  font-size: 2em;
}

.navbar-default .navbar-nav>li>a {
    margin-left:15px;
    color: #fff !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover{
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus{
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar{
    background-color: #f49504;
}

.navbar-default .navbar-toggle:focus .icon-bar{
    background-color: #f49504;
}

.navbar-default .navbar-text {
  color: #fff !important;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  background: #eee !important;
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.1);

}
.form-signin-heading {
    margin-bottom: 50px;
}

.alert-custom{
  max-width: 380px;
  margin: 0 auto;
  margin-bottom: 30px;
}

	.form-control .form-login {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	}

	input[type="email"] {
    margin-top: 20px;
	  margin-bottom: 20px;
	}

  input[type="text"] {
    margin-top: 20px;
	  margin-bottom: 20px;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	}

.ul>li{
  margin-left:8px
}
.dropdown-margin{
  margin-left:8px;
}

.max-cell {
  width: 500px;
}

.btn {
  background-color: #f49504;
  border-color: #f49504;
}

.btn:hover {
  background-color: #df950f;
  border-color: #df950f;
}

.btn:focus {
  background-color: #df950f;
  border-color: #df950f;
}

.glyphicon.glyphicon-cloud {
  font-size: 50px;
  color: #f49504;
}

.glyphicon.glyphicon-cloud:hover {
  color: #df950f;
}

.glyphicon.glyphicon-cloud:focus {
  color: #df950f;
}

.bg-yellow {
  background-color: #FFBF3B;
}

.bg-red {
  background-color: #A40D4E;
}

.bg-green {
  background-color: #15B366;
}

.bg-black {
  background-color: #404041;
}

.block {
  text-align: center;
  margin-left: 20%;
  margin-right: 0%;
}

.btn-block {
  background-color: #15B366;
  border: none;
  padding: 10px;
}

.btn-block:hover {
  background-color: #04B431;
}

.block-title {
  background-color: #404041;
  color: white;
  padding: 10px;
}

.block-text {
  background-color: white;
  padding: 10px;
  height: 150px;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  padding-bottom: 30px;
}

#voorwie {
  background: linear-gradient(
      rgba(50, 50, 50, 0.45),
      rgba(50, 50, 50, 0.45)
    ), url("/images/BBQ.jpg") no-repeat bottom;
  height: 500px;
}

body {
  font-family: "Trebuchet MS";
  font-style: normal;
}

.section-heading-voorwie {
  color: white;
}

#sectionCoworking, #sectionMeetingRoom, #sectionTrainingRoom, #sectionBoardRoom {
  display: none;
  color: white;
}

ul {
  list-style-position: inside;
}

.clickable-block {
  cursor: pointer;
}

.block-image {
  height: 150px;
  background: url("/images/vergaderzaal3_test.jpg") no-repeat bottom;
}

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#A40D4E;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#15B366;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
