@font-face {
font-family: 'AshleyScriptMT';
src: url('/fonts/AshleyScriptMT.otf') format('opentype');
font-weight: bold;
}

@media (max-width: 768px) {
  h3 {
    margin-top: 20px;
    margin-left: 20px;
  }
}

h3 {
  margin-bottom: 25px;
}

@media (max-width: 1052px) {

    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
        color:black;
    }

    .navbar-default{
        background-color: white;
    }

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        margin-top: 18px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.navbar{
  background-color: #eee;
  margin-bottom: 0px;
}

.navbar-default .navbar-brand{
  color: #000000 !important;
  font-size: 2em;
}

.navbar-default .navbar-nav>li>a {
    margin-left:5px;
    color: #000000 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover{
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus{
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar{
    background-color: #404041;
}

.navbar-default .navbar-toggle:focus .icon-bar{
    background-color: #404041;
}

.navbar-default .navbar-text {
  color: #000000 !important;
}

.bg-yellow {
  background-color: #FFBF3B;
}

.bg-red {
  background-color: #A40D4E;
}

.bg-green {
  background-color: #15B366;
}

.bg-black {
  background-color: #404041;
}

.block {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btn-block{
  background-color: #15B366;
  border: none;
  padding: 12px;
}

.btn-block:hover{
  background-color: #04B431;
}

.btn-block:focus {
  background-color: #04B431;
}

.btn-block:focus,.btn-block:active {
  outline: none !important;
  box-shadow: none;
}

.btn-reserveer {
  background-color: #15B366;
  border: none;
}

.btn-reserveer:hover {
  background-color: #04B431;
}

.btn-reserveer:focus {
  background-color: #04B431;
  border-color: #04B431;
}

.btn-reserveer:focus,.btn-reserveer:active {
   outline: none !important;
   box-shadow: none;
}

.block-title {
  background-color: #404041;
  color: white;
  padding: 10px;
  margin-top: 20px;
}

.block-text {
  padding: 10px;
  background-color: white;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  padding-bottom: 30px;
}

#voorwie {
  background: linear-gradient(
      rgba(50, 50, 50, 0.6),
      rgba(50, 50, 50, 0.6)
    ), url("/images/BBQ.jpg") no-repeat bottom;
  min-height: 500px;
}

body {
  font-family: "Roboto",Helvetica,Arial,sans-serif;
  font-style: normal;
}

.section-heading-voorwie {
 color: white;
 margin-bottom: 0px;
}

#sectionCoworking, #sectionMeetingRoom, #sectionTrainingRoom, #sectionBoardRoom {
  display: none;
  color: white;
}

.clickable-block {
  cursor: pointer;
}

.block-image {
  height: 200px;
  background: url("/images/vergaderzaal2_test.jpg") no-repeat center;
}
/*
.image-coworking {
  background: url("/images/vergaderzaal1_test.jpg") no-repeat bottom;
}

.image-meeting {
  background: url("/images/vergaderzaal2_test.jpg") no-repeat bottom;
}

.image-training {
  background: url("/images/vergaderzaal3_test.jpg") no-repeat bottom;
}

.image-board {
  background: url("/images/vergaderzaal4_test.jpg") no-repeat bottom;
}*/

#scroll {
    position:fixed;
    right:20px;
    bottom:20px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#7ACED5;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    z-index: 1;
    outline: none !important;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#A9A9A9;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

#map {
  height: 500px;
  display: block;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 5px;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.section-heading {
  font-family: 'AshleyScriptMT';
  text-transform: uppercase;
  margin-top: 30px;
}

.nobullets {
  list-style-type: none;
}

.bullets {
  list-style-position: inside;
}

.roomblock {
  margin-top: 2em;
}

.table {
  margin: 0px auto;
  float: none;
}

.nav-small-combined {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #eee;
}

.nav-small {
    /*float: right;*/
    z-index: 1001;
    /*position: relative;*/
    font-size: 14px;
}

.pull-right {
    /*float: right !important;*/
}

h3 small {
  font-size: 14px;
  font-weight: normal;
}

small {
  font-weight: 100 !important;
}

.nav-small a {
  display: list-item;
  text-decoration: none;
  color: #000000;
  font-weight: 100 !important;
}

.nav-small li, .nav-small a {
  /*float: left;*/
  line-height: 150%;
}

.nav-small-combined li{
    margin: 0 10px;
    /*float: left;*/
    font-size: 14px;
    font-weight: 100 !important;
    /*margin-top: 20px;*/
}

.nav-small li a:hover, .nav-small li.active a {
  text-decoration: underline;
  color: #000000;
  font-weight: 100 !important;
}

.btn {
  border-radius: 0;
}

.btn-verzenden {
  border-radius: 5px;
}

.img-vergaderzaal1{
  width: 50%;
  height: 50%;
  float: left;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  background: #eee !important;
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.1);

}

.alert-custom{

  margin: 0 auto;
  max-width: 380px;
  margin-top: 30px;
  margin-bottom: 30px;
}

	.form-control .form-login {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	}
/*
	input[type="email"] {
    margin-top: 20px;
	  margin-bottom: 20px;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	}

  input[type="text"] {
    margin-top: 20px;
	  margin-bottom: 20px;
	}
*/

 md-tabs .md-tab.md-active{
   color: #15B366;
 }

 md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
   background-color: #15B366;
   color: #15B366;
 }

md-tab-item:active{
  color: black;
}

md-tab-item.md-tab {
  padding-left: 0px;
  padding-right: 0px;
  width: 0px;
}
/*
#btnMenu {
    position:fixed;
    left:20px;
    bottom:20px;
    cursor:pointer;
    width:50px;
    height:50px;
    text-indent:-9999px;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    z-index: 1;
}*/

.md-button.md-warn.md-fab {
  background-color: #A40D4E;
}

.md-button.md-warn.md-fab:not([disabled]):hover{
  background-color: #15B366;
}

.fabSpeedDial .text-capitalize {
  text-transform: capitalize;
}

.fabSpeedDial .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important;
}

.fabSpeedDial p.note {
  font-size: 1.2rem;
}

md-fab-speed-dial.md-fab-top-right {
top: 80px !important;
left: auto;
bottom: auto;
right: 20px !important;
position: absolute !important;
z-index: 1;
}

button.md-fab.md-warn.md-button.md-ink-ripple {
  width: 50px !important;
  height: 50px !important;
  margin: 0 !important;
  padding: 0 !important;
}

md-fab-trigger {
  width: 50px !important;
  height: 50px !important;
}

#gmaps {
    height: 450px;
}

a:hover,a:focus,a:active{
  outline: none !important;
}

.section-heading-agenda {
  padding-bottom: 0px;
}

/*md-toolbar:not(.md-menu-toolbar){
  background-color: #FFBF3B;
  fill: #A40D4E;
}*/

/*calendar-md{
  min-height: 500px !important;
  margin-bottom: 50px;
}*/
/*
calendar-md md-content{
  min-height: 500px !important;
}*/

div.md-toolbar-tools.layout-row {
  /*background-color: #FFBF3B;*/
  padding-left: 50px !important;
  padding-right: 50px !important;
}

h2.calendar-md-title {
  padding-top: 10px;
}

md-toolbar {
  z-index: 0 !important;
}

.calendar-md-title {
  font-family: 'AshleyScriptMT';
  text-transform: uppercase;
  /*color: black;*/
}
/*
.md-icon-button {
  color: #404041;
  font-size: 40px !important;
}

.mid-icon-button-left {
  margin-left: 50px !important;
}

.md-icon-button-right {
  margin-right: 50px !important;
}*/
/*
md-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon, md-toolbar:not(.md-menu-toolbar) md-icon {
  color: #404041 !important;
  fill: #404041 !important;
}*/

.footer-copyright {
  line-height: 80px !important;
  background-color: #eee;
}

.dropdown-menu ul li {
    width: 100% !important;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#cont {
   min-height:100%;
   position:relative;
}
#body {
   padding-bottom:80px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:80px;   /* Height of the footer */
   background:#6cf;
}

.contactwrapper{
  border: 1px solid rgba(0,0,0,.03);
  margin: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

.no-background {
  background-color: rgb(255, 255, 255);
}

.md-input-messages-animation {
  font-size: 0.8em;
  text-align: left;
  width: 100%;
}

.btnSubmitContact {
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: #15B366 !important;
}

div.alert {
  margin-bottom: 0;
}

.iconperson{
  margin-top: 25px !important;
  margin-bottom: 0px !important;
  color: rgba(0,0,0,1);
}

#toast-container
{
  position: fixed;
  width: 300px !important;
  margin-left: -150px !important;
  bottom: 0 !important;
  left: 50% !important;
  right: 50% !important;
  z-index: 999;
  overflow: visible !important;
  text-align: center;
}

div.md-toast-content {
  background-color: rgba(21,179,102,1) !important;

}

#toast-container-alert
{
  position: fixed;
  width: 300px !important;
  margin-left: -150px !important;
  bottom: 0 !important;
  left: 50% !important;
  right: 50% !important;
  z-index: 999;
  overflow: visible !important;
  text-align: center;
}

#toast-container-alert div.md-toast-content {
  background-color: rgba(164,13,78,1) !important;

}

.table-settings {
  margin-left: 0 ;
  margin-right: 0 ;
  width: 100%;
  text-align: center;
}
.table-settings th {
  text-align: center;
}

html.md-default-theme, html, body.md-default-theme, body {
  background-color: rgb(255,255,255) !important;
}

md-checkbox.md-checked .md-icon{
  background-color: #15B366;
}

.hr-settings{
   border: none;
   height: 2px;
   background-color: #A40D4E; /* Modern Browsers */
}

.item-box{
  width: 10px;
  height: 10px;
  background-color: #15B366;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 5px;
  margin-left: -6px;
  /*margin: 5px !important;*/
}

.md-toolbar-tools h2{
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}

div.md-toolbar-tools {
  background-color: #15B366;
}

.close-dialog{
  color: white !important;
}

.btn-primary[disabled]{
  background-color: #A40D4E!important;
  opacity: 1;
}

.div-empty {
  padding-left: 16px;
  padding-right: 16px;
}
/*
.mdp-calendar-days .md-button {
  font-size: 12px !important;
}

.mdp-clock .md-button {
  font-size: 12px !important;
}*/
/*
md-input-container:not(.md-input-has-value) input:not(:focus){
  color: black !important;
}*/

md-input-container:not(.md-input-has-value) input:not(:focus), md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field
{
  color: black !important;
}

.md-button.md-default-theme.md-accent.md-raised, .md-button.md-accent.md-raised, .md-button.md-default-theme.md-accent.md-fab, .md-button.md-accent.md-fab {
  background-color: rgb(121,134,2036) !important;
}
.md-button.md-accent.md-raised:not([disabled]):hover {
  background-color: rgb(121,134,203) !important;
}

.mdp-calendar-monthyear {
  font-size: 13px !important;
}

.mdp-calendar-week-days {
  font-size: 12px !important;
}

.mdp-calendar-days .md-button {
  width: 32px !important;
  height: 32px !important;
}

.md-button.md-icon-button {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.mdp-datepicker.portrait .mdp-calendar-days>* {
  width: 32px !important;
  height: 32px !important;
}

.mdp-calendar-days {
  font-size: 16px !important;
}

div.mdp-calendar .md-button.md-icon-button{
  padding: 0;
}

.dialog-date{
  text-transform: capitalize;
}

.btn-warning{
  border-radius: 5px;
}

/*Calendar*/
calendar-md{
  width: 60% !important;
  margin-bottom: 50px;
  /*margin-left: auto !important;*/
  margin-right: auto !important;
}

calendar-md > md-content{
  height: 350px !important;
}
/*
calendar-md > md-content > div.layout-padding.layout-row.flex > div .flex{
  padding: 0 !important;
}*/

.layout-padding>*, .layout-padding>.flex{
  padding: 6px !important;
}

.container-list{

}

.cont-left{

}

.cont-right{

}
